<div class="page-body navbar-page user-wrap">
    <div class="row">
        <div class="col-md-12">
            <app-card [title]="'User Management'" [cardClass]="'table-card'" [expandIcon]="false" [minimizeIcon]="false" [filterCheck]="true" [showFilterButton]="true" [quickCols]="quickCols" [genericFilter]="userFilter" [filterModuleMasterList]="filterModuleMasterList" (filterPerformEvent)="filterPerform()"
                (refreshFilterEvent)="resetFilter()" #card >
                <app-table [exportName]="'User Reports'"  [genericColsInput]='tableCols' 
                [genericListInput]='userList' [genericTableSettingInput]='tableSettings' 
                [totalRecords]='totalRecords' (paginateEvent)="paginate($event)" 
                (loginLogsEvent)="viewLoginLogs($event)" (downloadEvent)="viewDownloadLogs($event)"
                (activeDeactiveEvent)="activeDeactiveConfirmation($event)" [filterMaster]="userFilter"
                ></app-table>
            </app-card>
        </div>
    </div>
</div>

<app-modal-basic #modalDownloadLogs [dialogClass]="'modal-lg  custom-height'">
    <div class="app-modal-header ">
        <h4 class="modal-title">
            <span>View Downloads</span>
        </h4>
        <button type="button" class="close basic-close" (click)="modalDownloadLogs.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="app-modal-body">
        <div class="row">

            <p-table [columns]="downloadItemTableCols" 
            [rowsPerPageOptions]="[10,20,30,50,100,200,downloadItemTotalRecords]" 
            [value]="downloadItemList" sortMode="multiple" 
            [totalRecords]="downloadItemTotalRecords" [scrollable]="true" 
            [style]="{width:'100%'}"  [reorderableColumns]="true" 
            [resizableColumns]="true" [paginator]="true" [rows]="10" >
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                            <ng-template #nested_object_content>
                                <div *ngIf="rowData[col.field]!=null && rowData[col.field][col.subfield]!=null ">
                                        {{ rowData[col.field][col.subfield]}}
                                </div>
                                <div *ngIf="col.fieldType=='date' " class="ellipse-content">
                                    {{rowData[col.field][col.subfield] |  date:col.dateFormat }}
                                </div>
                            </ng-template>
                            <ng-template #normal_content>
                                <div *ngIf="col.fieldType=='text' " class="ellipse-content">
                                    {{rowData[col.field]}}
                                </div>
                                <div *ngIf="col.fieldType=='date' " class="ellipse-content">
                                    {{rowData[col.field] |  date:col.dateFormat }}
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default modal-report ripple" (click)="modalDownloadLogs.hide()">Close</button>
    </div>
</app-modal-basic>

<app-modal-basic #modalLoginLogs [dialogClass]="'modal-lg custom-height'">
    <div class="app-modal-header ">
        <h4 class="modal-title">
            <span>View Login Logs</span>
        </h4>
        <button type="button" class="close basic-close" (click)="modalLoginLogs.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="app-modal-body">
        <div class="row col-md-12">

            <p-table [columns]="userLoginLogsTableCols" 
            [rowsPerPageOptions]="[10,20,30,50,100,200,userLoginLogsTotalRecords]" 
            [value]="userLoginLogsList" sortMode="multiple" 
            [totalRecords]="userLoginLogsTotalRecords" [scrollable]="true" 
            [style]="{width:'100%'}"  [reorderableColumns]="true" 
            [resizableColumns]="true" [paginator]="true" [rows]="10" >
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                            <ng-template #nested_object_content>
                                <div *ngIf="rowData[col.field]!=null && rowData[col.field][col.subfield]!=null ">
                                        {{ rowData[col.field][col.subfield]}}
                                </div>
                                <div *ngIf="col.fieldType=='date' " class="ellipse-content">
                                    {{rowData[col.field][col.subfield] |  date:col.dateFormat }}
                                </div>
                            </ng-template>
                            <ng-template #normal_content>
                                <div *ngIf="col.fieldType=='text' " class="ellipse-content">
                                    {{rowData[col.field]}}
                                </div>
                                <div *ngIf="col.fieldType=='date' " class="ellipse-content">
                                    {{rowData[col.field] |  date:col.dateFormat }}
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- <app-table [genericColsInput]='userLoginLogsTableCols' [genericListInput]='userLoginLogsList' 
            [genericTableSettingInput]='userLoginLogsTableSettings' [totalRecords]='userLoginLogsPageSize' 
            (paginateEvent)="userLoginLogsPaginate($event)" ></app-table> -->

        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default modal-report ripple" (click)="modalLoginLogs.hide()">Close</button>
    </div>
</app-modal-basic>
  