<app-card [title]="'Masters'" [expandIcon]="false" [minimizeIcon]="false" [showFilter]="false" [filterCheck]="false" [showFilterButton]="false">

    <ngb-tabset class="setting-tab">

        <ngb-tab title="Industry">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                    <div class="row page-body">
                        <div class="col-md-12">
                            <p-table #industry [columns]="masterCols" 
                            [rowsPerPageOptions]="[10,20,30,50,100,200,totalIndustryRecords]" 
                            [value]="industryList" sortMode="multiple" 
                            [totalRecords]="totalIndustryRecords" [scrollable]="true" 
                            [style]="{width:'100%'}"  [reorderableColumns]="true" 
                            [resizableColumns]="true" [paginator]="true" [rows]="10" 
                            class="customDataTable">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="actionButton" style="width: 85px;">
                                            Action &nbsp;&nbsp;
                                            <i class="fa fa-plus pointerClass" (click)="addPredefinedModal('INDUSTRY')"></i>
                                        </th>
                                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.fieldType=='text'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                    <tr>
                                        <th class="actionButton">
                                            <i class="fa fa-file-excel-o excel pointerClass" aria-hidden="true" 
                                            (click)="industry.exportCSV()"></i>&nbsp;
                                        </th>
                                        <th *ngFor="let col of columns">
                                            <span *ngIf="col.fieldType!='image'">
                                                <input  placeholder="Search {{col.header}}" pInputText type="text"
                                                (input)="industry.filter($event.target.value, col.field, 'contains')">
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="all_icons" style="width: 85px;">
                                            <div>
                                                <i class="fa fa-edit pointerClass" (click)="updatePredefinedModal(rowData)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-trash pointerClass" (click)="deletePredefinedMaster(rowData)"></i>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.name}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Designation">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                    <div class="row page-body">
                        <div class="col-md-12">
                            <p-table #designation [columns]="masterCols" 
                            [rowsPerPageOptions]="[10,20,30,50,100,200,totalDesignationRecords]" 
                            [value]="designationList" sortMode="multiple" 
                            [totalRecords]="totalDesignationRecords" [scrollable]="true" 
                            [style]="{width:'100%'}"  [reorderableColumns]="true" 
                            [resizableColumns]="true" [paginator]="true" [rows]="10" 
                            class="customDataTable">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="actionButton" style="width: 85px;">
                                            Action &nbsp;&nbsp;
                                            <i class="fa fa-plus pointerClass" (click)="addPredefinedModal('DESIGNATION')"></i>
                                        </th>
                                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.fieldType=='text'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                    <tr>
                                        <th class="actionButton">
                                            <i class="fa fa-file-excel-o excel pointerClass" aria-hidden="true" 
                                            (click)="designation.exportCSV()"></i>&nbsp;
                                        </th>
                                        <th *ngFor="let col of columns">
                                            <span *ngIf="col.fieldType!='image'">
                                                <input  placeholder="Search {{col.header}}" pInputText type="text"
                                                (input)="designation.filter($event.target.value, col.field, 'contains')">
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="all_icons" style="width: 85px;">
                                            <div>
                                                <i class="fa fa-edit pointerClass" (click)="updatePredefinedModal(rowData)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-trash pointerClass" (click)="deletePredefinedMaster(rowData)"></i>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.name}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Designation Level">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                    <div class="row page-body">
                        <div class="col-md-12">
                            <p-table #designationLevel [columns]="masterCols" 
                            [rowsPerPageOptions]="[10,20,30,50,100,200,totalDesignationLevelRecords]" 
                            [value]="designationLevelList" sortMode="multiple" 
                            [totalRecords]="totalDesignationLevelRecords" [scrollable]="true" 
                            [style]="{width:'100%'}"  [reorderableColumns]="true" 
                            [resizableColumns]="true" [paginator]="true" [rows]="10" 
                            class="customDataTable">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="actionButton" style="width: 85px;">
                                            Action &nbsp;&nbsp;
                                            <i class="fa fa-plus pointerClass" (click)="addPredefinedModal('DESIGNATION-LEVEL')"></i>
                                        </th>
                                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.fieldType=='text'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                    <tr>
                                        <th class="actionButton">
                                            <i class="fa fa-file-excel-o excel pointerClass" aria-hidden="true" 
                                            (click)="designationLevel.exportCSV()"></i>&nbsp;
                                        </th>
                                        <th *ngFor="let col of columns">
                                            <span *ngIf="col.fieldType!='image'">
                                                <input  placeholder="Search {{col.header}}" pInputText type="text"
                                                (input)="designationLevel.filter($event.target.value, col.field, 'contains')">
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="all_icons" style="width: 85px;">
                                            <div>
                                                <i class="fa fa-edit pointerClass" (click)="updatePredefinedModal(rowData)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-trash pointerClass" (click)="deletePredefinedMaster(rowData)"></i>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.name}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Department">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                    <div class="row page-body">
                        <div class="col-md-12">
                            <p-table #department [columns]="masterCols" 
                            [rowsPerPageOptions]="[10,20,30,50,100,200,totalDepartmentRecords]" 
                            [value]="departmentList" sortMode="multiple" 
                            [totalRecords]="totalDepartmentRecords" [scrollable]="true" 
                            [style]="{width:'100%'}"  [reorderableColumns]="true" 
                            [resizableColumns]="true" [paginator]="true" [rows]="10" 
                            class="customDataTable">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="actionButton" style="width: 85px;">
                                            Action &nbsp;&nbsp;
                                            <i class="fa fa-plus pointerClass" (click)="addPredefinedModal('DEPARTMENT')"></i>
                                        </th>
                                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.fieldType=='text'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                    <tr>
                                        <th class="actionButton">
                                            <i class="fa fa-file-excel-o excel pointerClass" aria-hidden="true" 
                                            (click)="department.exportCSV()"></i>&nbsp;
                                        </th>
                                        <th *ngFor="let col of columns">
                                            <span *ngIf="col.fieldType!='image'">
                                                <input  placeholder="Search {{col.header}}" pInputText type="text"
                                                (input)="department.filter($event.target.value, col.field, 'contains')">
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="all_icons" style="width: 85px;">
                                            <div>
                                                <i class="fa fa-edit pointerClass" (click)="updatePredefinedModal(rowData)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-trash pointerClass" (click)="deletePredefinedMaster(rowData)"></i>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.name}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Sub Department">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                    <div class="row page-body">
                        <div class="col-md-12">
                            <p-table #subDepartment [columns]="subDepartmentCols" 
                            [rowsPerPageOptions]="[10,20,30,50,100,200,totalSubDepartmentRecords]" 
                            [value]="subDepartmentList" sortMode="multiple" 
                            [totalRecords]="totalSubDepartmentRecords" [scrollable]="true" 
                            [style]="{width:'100%'}"  [reorderableColumns]="true" 
                            [resizableColumns]="true" [paginator]="true" [rows]="10" 
                            class="customDataTable">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="actionButton" style="width: 85px;">
                                            Action &nbsp;&nbsp;
                                            <i class="fa fa-plus pointerClass" (click)="addPredefinedModal('SUB-DEPARTMENT')"></i>
                                        </th>
                                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.fieldType=='text'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                    <tr>
                                        <th class="actionButton">
                                            <i class="fa fa-file-excel-o excel pointerClass" aria-hidden="true" 
                                            (click)="subDepartment.exportCSV()"></i>&nbsp;
                                        </th>
                                        <th *ngFor="let col of columns">
                                            <span *ngIf="col.fieldType!='image'">
                                                <input  placeholder="Search {{col.header}}" pInputText type="text"
                                                (input)="subDepartment.filter($event.target.value, col.field, 'contains')">
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="all_icons" style="width: 85px;">
                                            <div>
                                                <i class="fa fa-edit pointerClass" (click)="updatePredefinedModal(rowData)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-trash pointerClass" (click)="deletePredefinedMaster(rowData)"></i>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.parentName}}
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.name}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Region">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                    <div class="row page-body">
                        <div class="col-md-12">
                            <p-table #region [columns]="masterCols" 
                            [rowsPerPageOptions]="[10,20,30,50,100,200,totalRegionRecords]" 
                            [value]="regionList" sortMode="multiple" 
                            [totalRecords]="totalRegionRecords" [scrollable]="true" 
                            [style]="{width:'100%'}"  [reorderableColumns]="true" 
                            [resizableColumns]="true" [paginator]="true" [rows]="10" 
                            class="customDataTable">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="actionButton" style="width: 85px;">
                                            Action &nbsp;&nbsp;
                                            <i class="fa fa-plus pointerClass" (click)="addPredefinedModal('REGION')"></i>
                                        </th>
                                        <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.fieldType=='text'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                    <tr>
                                        <th class="actionButton">
                                            <i class="fa fa-file-excel-o excel pointerClass" aria-hidden="true" 
                                            (click)="region.exportCSV()"></i>&nbsp;
                                        </th>
                                        <th *ngFor="let col of columns">
                                            <span *ngIf="col.fieldType!='image'">
                                                <input  placeholder="Search {{col.header}}" pInputText type="text"
                                                (input)="region.filter($event.target.value, col.field, 'contains')">
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="all_icons" style="width: 85px;">
                                            <div>
                                                <i class="fa fa-edit pointerClass" (click)="updatePredefinedModal(rowData)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-trash pointerClass" (click)="deletePredefinedMaster(rowData)"></i>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{rowData.name}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>


    </ngb-tabset>

    <app-modal-basic #modalPredefined>
        <div class="app-modal-header ">
            <h4 class="modal-title">
                <span *ngIf="predefinedMaster.entityType=='INDUSTRY'">Industry</span>
                <span *ngIf="predefinedMaster.entityType=='DESIGNATION'">Designation</span>
                <span *ngIf="predefinedMaster.entityType=='DESIGNATION-LEVEL'">Designation Level</span>
                <span *ngIf="predefinedMaster.entityType=='DEPARTMENT'">Department</span>
                <span *ngIf="predefinedMaster.entityType=='SUB-DEPARTMENT'">Sub Department</span>
                <span *ngIf="predefinedMaster.entityType=='REGION'">Region</span>
            </h4>
            <button type="button" class="close basic-close" (click)="modalPredefined.hide()">
              <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="app-modal-body">
            <div class="row m-b-25">
                <div class="col-md-12" *ngIf="predefinedMaster.entityType=='SUB-DEPARTMENT'">
                    <label class="custom-label">Depatment Name</label><br>
                    <p-dropdown [options]="departmentList" [(ngModel)]="predefinedMaster.parentPredefinedMaster" 
                    optionLabel="name" placeholder="Select Department" [ngStyle]="{'width':'100%'}" ></p-dropdown>
                </div>
                <div class="col-md-12">
                    <label class="custom-label">Name</label>
                    <input pInputText type="text" [(ngModel)]="predefinedMaster.name" name="name" placeholder="Enter Name" [ngStyle]="{'width':'100%'}" id="name">
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
            <button *ngIf="predefinedMaster.predefinedId==null" type="button" class="btn btn-primary modal-report ripple" (click)="savePredefined()">Save</button>
            <button *ngIf="predefinedMaster.predefinedId!=null" type="button" class="btn btn-primary modal-report ripple" (click)="savePredefined()">Update</button>
            <button type="button" class="btn btn-default modal-report ripple" (click)="modalPredefined.hide()">Close</button>
        </div>
    </app-modal-basic>

    <ng2-toasty [position]="'bottom-right'"></ng2-toasty>