
<div class="modal fade" [id]="modelId">
  <div class="modal-dialog modal-lg" [ngStyle]="{'width':modalWidth}">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">{{modalHeader}}</h4>
        </div> 
        <div class="modal-body">
          <ng-content *ngTemplateOutlet="modalBodyTemplate"></ng-content>        
          

        </div>
        <div class="modal-footer">
            <ng-content *ngTemplateOutlet="modalFooterTemplate"></ng-content>        
         
        </div>
     </div>
     <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->