<div class="page-body navbar-page user-wrap">
    <div class="row" *ngIf="tableView">
        <div class="col-sm-12">
            <app-card [title]="'OKR Master'" [cardClass]="'table-card'"
             [quickCols]="quickCols" [genericFilter]="okrMasterFilter" 
             [filterModuleMasterList]="filterModuleMasterList" (filterPerformEvent)="filterPerform()" 
             [addCheck]='addCheck' (addRecordEvent)="addNewOkrMaster($event)" 
             (refreshFilterEvent)="resetFilter()" #card
             [showUploadIcon] = "true" (uploadEvent)="uploadOkr()">

             <app-table [genericColsInput]='tableCols' [exportName]="'OKR Master'" [genericListInput]='okrMasterList' 
                [genericTableSettingInput]='tableSettings' [totalRecords]='totalRecords' (paginateEvent)="paginate($event)"
                (downloadEvent)="viewDownloads($event)"
                (deleteDataEvent)="deleteOkrMaster($event)" [filterMaster]="okrMasterFilter" (editEntityEvent)="editOkrMaster($event)" ></app-table>

            </app-card>
        </div>
    </div>
    <div class="row postpanel-wrap" *ngIf="!tableView">
        <div class="col-sm-12 col-md-12">
            <app-card [title]="'Add OKR'" [cardClass]="'table-card'" [expandIcon]="true" [minimizeIcon]="false" [filterCheck]="false" [showFilter]="false" [showBackButton]="true" (toggleViewEvent)="toggleView($event)" #card>
                <div class="col-sm-12 col-md-12" style="height: 700px;overflow: auto;">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="">Objective<em style="color:red">*</em></label>
                            <input type="text" class="form-control" [(ngModel)]="okrMaster.objective" name="objective" placeholder="Enter Objective">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Key Result<em style="color:red">*</em></label>
                            <input type="text" class="form-control" [(ngModel)]="okrMaster.keyResult" name="keyResult" placeholder="Enter Key Result">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Excel File<em style="color:red">*</em></label><br>
                            <p-fileUpload mode="basic" name="demo[]" customUpload="true" #okrCsvFile accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                            maxFileSize="1000000" (onSelect)="okrCsvFileUploader($event)"></p-fileUpload>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Industry<em style="color:red">*</em></label>
                            <p-dropdown [options]="industryList" [(ngModel)]="okrMaster.industry" 
                            optionLabel="name" placeholder="Select Industry" [ngStyle]="{'width':'100%'}" ></p-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="">Designation<em style="color:red">*</em></label>
                            <p-dropdown [options]="designationList" [(ngModel)]="okrMaster.designation" 
                            optionLabel="name" placeholder="Select Designation" [ngStyle]="{'width':'100%'}" ></p-dropdown>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Designation Level<em style="color:red">*</em></label>
                            <p-dropdown [options]="designationLevelList" [(ngModel)]="okrMaster.designationLevel" 
                            optionLabel="name" placeholder="Select Designation Level" [ngStyle]="{'width':'100%'}" ></p-dropdown>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Department<em style="color:red">*</em></label>
                            <p-dropdown [options]="departmentList" [(ngModel)]="okrMaster.department" 
                            optionLabel="name" placeholder="Select Department" [ngStyle]="{'width':'100%'}" ></p-dropdown>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Sub Department<em style="color:red">*</em></label>
                            <p-dropdown [options]="subDepartmentList" [(ngModel)]="okrMaster.subDepartment" 
                            optionLabel="name" placeholder="Select Sub Department" [ngStyle]="{'width':'100%'}" ></p-dropdown>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-primary" (click)="saveOkrMaster()">Submit</button>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>

<app-modal-basic #modalDownloadLogs [dialogClass]="'modal-lg'">
    <div class="app-modal-header ">
        <h4 class="modal-title">
            <span>View Downloads</span>
        </h4>
        <button type="button" class="close basic-close" (click)="modalDownloadLogs.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="app-modal-body">
        <div class="row col-md-12">

            <app-table [genericColsInput]='downloadItemTableCols' [genericListInput]='downloadItemList' 
            [genericTableSettingInput]='downloadItemTableSettings' [totalRecords]='downloadItemTotalRecords' 
            (paginateEvent)="downloadItemPaginate($event)" ></app-table>

        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default modal-report ripple" (click)="modalDownloadLogs.hide()">Close</button>
    </div>
</app-modal-basic>

<app-modal-basic #modalOkrImport  [dialogClass]="'modal-lg custom-height'">
    <div class="app-modal-header ">
        <h4 class="modal-title">
            <span>Import OKRs</span>
        </h4>
        <button type="button" class="close basic-close" (click)="modalOkrImport.hide()">
          <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="app-modal-body">

        <div class="row m-b-25">
            <div class="col-md-12">
                <button pButton type="button" icon="pi pi-download" class="ui-button-success" (click)="downloadOkrsampleFile()" label="Download Sample" > </button>
                <input type="file" #okrCsvFileImport id="okrCsvFileImport" style="display:none;" (change)="uploadOkrCsvFile($event)" accept=".csv" />
                &nbsp;&nbsp;
                <button pButton type="button" icon="pi pi-upload" class="ui-button-success" onclick="document.getElementById('okrCsvFileImport').click();" label="Import"> </button>
            </div>
      
        </div>
        
      <div class="m-b-15 setting-tab modal-contains-table">
        <p-table editMode="row" [value]="importOkrMasterList" dataKey="okrMasterId">
          <ng-template pTemplate="header">
              <tr>
                  <th>Objective</th>
                  <th>Key Result</th>
                  <th>Industry</th>
                  <th>Designation</th>
                  <th>Designation Level</th>
                  <th>Department</th>
                  <th>Sub Department</th>
                  <th style="width:8em">Action</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData" *ngIf="rowData.isDelete == 'N' ">
  
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.objective" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.objective}}
                  </ng-template>
                </p-cellEditor>
              </td>
  
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.keyResult" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.keyResult}}
                  </ng-template>
                </p-cellEditor>
              </td>
  
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.industryNameTemp" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.industryNameTemp}}
                  </ng-template>
                </p-cellEditor>
              </td>
  
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.designationNameTemp" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.designationNameTemp}}
                  </ng-template>
                </p-cellEditor>
              </td>
  
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.designationLevelNameTemp" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.designationLevelNameTemp}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.departmentNameTemp" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.departmentNameTemp}}
                  </ng-template>
                </p-cellEditor>        
              </td>
  
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.subDepartmentNameTemp" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.subDepartmentNameTemp}}
                  </ng-template>
                </p-cellEditor>        
              </td>
  
              <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" style="margin-right: .5em"></button>
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-trash" class="ui-button-info" (click)="onOkrEditDelete(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" ></button>
              </td>          
              
            </tr>
          </ng-template>
        </p-table>
      </div>
  
  
  
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary modal-report ripple" (click)="saveImportOkrMaster()">Save</button>
      <button type="button" class="btn btn-default modal-report ripple" (click)="modalOkrImport.hide()">Close</button>
    </div>
  </app-modal-basic>
  

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
