<div class="card {{ fullCard }} {{ cardLoad }}" [@cardClose]="cardClose" [ngClass]="cardClass">
    <!-- <div class="card-header ripple" *ngIf="title && !filterCheck">
        <h5>{{ title }}</h5>
        <span *ngIf="!classHeader">{{ headerContent }}</span>
        <span *ngIf="classHeader">
      <ng-content select=".code-header"></ng-content>
    </span>
    <div class="row card-wrap" *ngIf="!addCheck && showBackButton">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <button  class="btn btn-primary waves-effect waves-light" (click)="toggleView(false)">Back</button>
        </div>
    </div>
        <div class="card-header-right" *ngIf="!cardOptionBlock">
            <ul class="list-unstyled card-option" [@cardIconToggle]="cardIconToggle">
                <li *ngIf="!isCardToggled" (click)="toggleCardOption()"><i class="fa fa open-card-option fa-wrench"></i></li>
                <li *ngIf="isCardToggled" (click)="toggleCardOption()"><i class="fa fa open-card-option fa-times"></i></li>
                <li *ngIf="isCardToggled && expandIcon"><i class="fa {{ fullCardIcon }} full-card" (click)="fullScreen($event)"></i></li>
                <li *ngIf="isCardToggled && minimizeIcon"><i class="fa fa-minus minimize-card" appCardToggleEvent (click)="toggleCard($event)"></i></li>
                <li *ngIf="isCardToggled && refreshIcon"><i class="fa fa-refresh reload-card" (click)="cardRefresh($event)"></i></li>
                <li *ngIf="isCardToggled && deleteIcon"><i class="fa fa-trash close-card" (click)="closeCard($event)"></i></li>
            </ul>
        </div>
    </div> -->

    <div class="card-header ripple">
        <!-- <h5>{{ title }}</h5> -->
        <h5>{{ title }}</h5>
        <span *ngIf="!classHeader">{{ headerContent }}</span>
        <span *ngIf="classHeader">
      <ng-content select=".code-header"></ng-content>
    </span>
        <div class="row card-wrap" *ngIf="showFilter">
            <div class="col-md-12">
                <!-- <ng-content *ngTemplateOutlet="filterTemplate"></ng-content>  -->
                <app-filter [genericColsInput]='quickCols' [genericFilterInput]='genericFilter' (filterPerformEvent)="filterPerform()"></app-filter>
            </div>
            <div class="col-md-12 pull-right">
                <!-- <button  *ngIf="addCheck" class="btn btn-primary waves-effect waves-light" (click)="toggleView(true)" ><i class="fa fa-plus"></i>Add</button> -->
                <!-- <button *ngIf="showFilterButton" class="btn btn-primary waves-effect waves-light" (click)="filterPerform()"><i class="fa fa-search"></i>Search</button> -->

            </div>
        </div>
        <!-- <div class="row card-wrap" *ngIf="showBackButton">
                <div class="col-md-10">
                   
                </div>
                <div class="col-md-2">
                        <button  class="btn btn-primary waves-effect waves-light" (click)="toggleView(false)">Back</button>
                </div>
        </div> -->

        <span *ngIf="!classHeader">{{ headerContent }}</span>
        <span *ngIf="classHeader">
      <ng-content select=".code-header"></ng-content>
    </span>
        <div class="card-header-right" *ngIf="!cardOptionBlock">
            <ul class="list-unstyled card-option" [@cardIconToggle]="cardIconToggle">
                <li *ngIf="isCardToggled && addCheck" class="card-icon pointerClass" (click)="addRecord()"><i class="fa fa-plus"  pTooltip="Add New" tooltipPosition="top"></i>Add</li>
                <li *ngIf="isCardToggled && showUploadIcon" class="card-icon pointerClass" (click)="upload()"><i class="fa fa-upload"  pTooltip="Import" tooltipPosition="top"></i>Import</li>
                <!-- <li *ngIf="isCardToggled && showFilter" class="card-icon pointerClass" (click)="refreshFilter()"><i class="fa fa-refresh"  pTooltip="Clear Filter" tooltipPosition="top"></i>Refresh</li> -->
                <li *ngIf="isCardToggled && !addCheck && showBackButton" class="card-icon pointerClass" (click)="toggleView(false)"><i class="fa fa-caret-square-o-left"  pTooltip="Back" tooltipPosition="top"></i>Back</li>
                <li *ngIf="isCardToggled && filterCheck" class="card-icon pointerClass" (click)="filterPerform()" ><i class="fa fa-search"  pTooltip="Search" tooltipPosition="top"></i>Search</li>
                <!-- <li *ngIf="!isCardToggled" (click)="toggleCardOption()" class="card-icon pointerClass"><i class="fa fa open-card-option fa-wrench" pTooltip="Show Settings" tooltipPosition="top"></i></li> -->
                <!-- <li *ngIf="isCardToggled" (click)="toggleCardOption()" class="card-icon pointerClass"><i class="fa fa open-card-option fa-times" pTooltip="Hide Settings" tooltipPosition="top"></i>Hide</li> -->
                <!-- <li *ngIf="isCardToggled && expandIcon"><i class="fa {{ fullCardIcon }} full-card" (click)="fullScreen($event)" pTooltip="Full Screen" tooltipPosition="top"></i></li> -->
                <li *ngIf="isCardToggled && minimizeIcon" class="card-icon pointerClass"><i class="fa fa-minus minimize-card" appCardToggleEvent (click)="toggleCard($event)" pTooltip="Minimize" tooltipPosition="top"></i>Minimize</li>
                <li *ngIf="isCardToggled && refreshIcon" class="card-icon pointerClass"><i class="fa fa-refresh reload-card" (click)="cardRefresh($event)"></i></li>
                <li *ngIf="isCardToggled && deleteIcon" class="card-icon pointerClass"><i class="fa fa-trash close-card" (click)="closeCard($event)"></i>Close</li>
            </ul>
        </div>
    </div>

    <div [@cardToggle]="cardToggle" class="card-block-hid">
        <div class="card-block" [ngClass]="blockClass">
            <ng-content></ng-content>
        </div>
    </div>

    <div class="card-loader" *ngIf="loadCard"><i class="fa fa-spinner rotate-refresh"></i></div>
</div>