<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <form class="form-material" action="javascript:">
                    <div class="text-center">
                        <!-- <img src="assets/images/logo.png" alt="logo.png"> -->
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <div class="text-center">
                                            <img src="assets/images/logo.png" alt="logo.png" class="login-logo">
                                    </div>
                                    <!-- <h3 class="text-center">Sign In</h3> -->
                                </div>
                            </div>
                            <form class="form-material" action="javascript:">
                                <div class="form-group form-primary form-static-label">
                                    <input type="text" name="email" class="form-control" [(ngModel)]="user.username">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Your Email or Phone</label>
                                </div>

                                <div class="form-group form-primary form-static-label">
                                    <input type="password" name="password" class="form-control" [(ngModel)]="user.password">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Password</label>
                                </div>
                            </form>
                            <!-- <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600"> Forgot Password?</a>
                  </div>
                </div>
              </div> -->
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple" (click)="validateUser()">Sign in</button>
                                </div>
                            </div>
                            <div class="row forgot-pass-wrap">
                                    <div class="col-md-6">
                                        <!-- <a class="pointerClass" (click)="forgotPasswordModalClose.show()">Forgot Password ?</a><br><br/> -->
                                    </div>
                                    <div class="col-md-6">
       
                                    </div>
                            </div>
                            <hr/>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <p style="color:red;">{{loginErrorMsg}}</p>
                                </div>
                            </div>

                            <!-- <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you.</p>
                  <p class="text-inverse text-left"><a [routerLink]="['/dashboard/default']"><b>Back to website</b></a></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->
                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>


<app-modal-basic #forgotPasswordModalClose>
        <div class="app-modal-header">
            <h4 class="modal-title">Forgot Password</h4>
            <button type="button" class="close basic-close " (click)="forgotPasswordModalClose.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="app-modal-body page-body">
            <div class="row">
                <div class="col-md-12" *ngIf="forgotPassScreenIndex==1">
                    <div class="form-group">
                        <label>Email or Phone<span style="color:red;">*</span></label>
                        <div class="input-group">
                            <input pInputText class="form-control" [(ngModel)]="forgotUser.username"
                                type="text" name="contactEmailPhone" placeholder="Enter Email / phone" id="contactEmailPhone" 
                                (change)="getUserDetailsByUsername()">
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="forgotPassScreenIndex==2">
                  <div class="form-group">
                      <label>OTP<span style="color:red;">*</span></label>
                      <div class="input-group">
                          <input pInputText class="form-control" [(ngModel)]="userOtp"
                              type="text" name="userOtp" placeholder="Enter OTP" id="userOtp">
                         
                      </div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="forgotPassScreenIndex==3">
                  <div class="form-group">
                      <label>New Password<span style="color:red;">*</span></label>
                      <div class="input-group">
                          <input pInputText class="form-control" [(ngModel)]="forgotUser.newPassword"
                              type="password" name="newPassword" placeholder="Enter Password" id="newPassword">
                         
                      </div>
                  </div>
                </div>
            </div>  
        </div>
        <div class="app-modal-footer">
                <button *ngIf="forgotPassScreenIndex==1" type="button" class="btn btn-primary ripple pull-left" style="font-size: 14px;"
                (click)="sendOtpToUser()">Send OTP</button>
    
                <button *ngIf="forgotPassScreenIndex==2" type="button" class="btn btn-primary ripple pull-left" style="font-size: 14px;"
                (click)="confirmOTP()">Verify</button>
    
                <button *ngIf="forgotPassScreenIndex==2" type="button" class="btn btn-primary ripple pull-left" style="font-size: 14px;"
                (click)="sendOtpToUser()">Resend OTP</button>
    
                <button *ngIf="forgotPassScreenIndex==3" type="button" class="btn btn-primary ripple pull-left" style="font-size: 14px;"
                (click)="changePassword()">Change</button>
    
                <button type="button" class="btn btn-default ripple" (click)="forgotPasswordModalClose.hide()">Close</button>
        </div>
    </app-modal-basic>

    <ng2-toasty [position]="'bottom-right'"></ng2-toasty>