<div class="page-body navbar-page user-wrap">
  <div class="row">
        <div class="row col-sm-12">
          <!-- task, page, download counter  start -->
          <div class="col-xl-4 col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-c-purple">{{totalOkrRecords}}</h4>
                    <h6 class="text-muted m-b-0">Total OKR Master Count</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="icon-layers f-28"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-c-purple">
                <div class="row align-items-center">
                  <div class="col-9">
                    <p class="text-white m-b-0 pointerClass" [routerLink]="['/panel/okr/okr-master']">View OKR Master</p>
                  </div>
                  <div class="col-3 text-right">
                    <i class="fa fa-line-chart text-white f-16"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-c-green">{{totalUserRecords}}</h4>
                    <h6 class="text-muted m-b-0 ">Total User Count</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="icon-user f-28"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-c-green">
                <div class="row align-items-center">
                  <div class="col-9">
                    <p class="text-white m-b-0 pointerClass" [routerLink]="['/panel/user/usermanagement']">View Users</p>
                  </div>
                  <div class="col-3 text-right">
                    <i class="fa fa-line-chart text-white f-16"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-b-purple">{{totalDownloadItemRecords}}</h4>
                    <h6 class="text-muted m-b-0 ">Total OKR Download</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="fa fa-download f-28"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-c-red">
                <div class="row align-items-center">
                  <div class="col-9">
                    <h4><a class="text-white m-b-0 pointerClass" [routerLink]="['/panel/user/usermanagement']" >View Downloads</a></h4>
                  </div>
                  <div class="col-3 text-right">
                    <i class="fa fa-line-chart text-white f-16"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12">
    
          <app-card [title]="''" style="width: 100%;height: 800px;" >

            <ngb-tabset class="setting-tab">

              <ngb-tab title="Most Downloaded">
                  <ng-template ngbTabContent>
                      <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                          <div class="row page-body">
                              <div class="col-md-12">

                                <app-table [genericColsInput]='mostDownloadedTableCols' [genericListInput]='mostDownloadedList' 
                                  [genericTableSettingInput]='mostDownloadedTableSettings' [totalRecords]='mostDownloadedTotalRecords' 
                                  (paginateEvent)="paginateMostDownloaded($event)" (downloadEvent)="viewDownloads($event)"
                                ></app-table>
                                
                              </div>
                          </div>
                      </div>
                  </ng-template>
              </ngb-tab>

              <ngb-tab title="Most Accessed">
                <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15 setting-tab">
                        <div class="row page-body">
                            <div class="col-md-12">

                              <app-table [genericColsInput]='mostAccessedTableCols' [genericListInput]='mostAccessedList' 
                                [genericTableSettingInput]='mostAccessedTableSettings' [totalRecords]='mostAccessedTotalRecords' 
                                (paginateEvent)="paginateMostAccessed($event)" (downloadEvent)="viewDownloads($event)"
                              ></app-table>


                            </div>
                        </div>
                    </div>
                  </ng-template>
              </ngb-tab>

            </ngb-tabset>
          <!-- </app-card> -->
      </app-card>
    </div>
  </div>
</div>

<app-modal-basic #modalDownloadLogs [dialogClass]="'modal-lg'">
  <div class="app-modal-header ">
      <h4 class="modal-title">
          <span>View Downloads</span>
      </h4>
      <button type="button" class="close basic-close" (click)="modalDownloadLogs.hide()">
          <span aria-hidden="true">&times;</span>
          </button>
  </div>
  <div class="app-modal-body">
      <div class="row col-md-12">

          <app-table [genericColsInput]='downloadItemTableCols' [genericListInput]='downloadItemList' 
          [genericTableSettingInput]='downloadItemTableSettings' [totalRecords]='downloadItemTotalRecords' 
          (paginateEvent)="downloadItemPaginate($event)" ></app-table>

      </div>
  </div>
  <div class="app-modal-footer">
      <button type="button" class="btn btn-default modal-report ripple" (click)="modalDownloadLogs.hide()">Close</button>
  </div>
</app-modal-basic>