<p-table #dt [columns]="selectedColumns" [value]="genericListInput" [(selection)]="genericSelectedListInput"
    autoLayout="genericTableSettingInput.autoLayout" [sortMode]="genericTableSettingInput.sortMode"
    [scrollable]="genericTableSettingInput.scrollable" [style]="{'width':genericTableSettingInput.style}"
    [scrollHeight]="genericTableSettingInput.scrollHeight"
    [reorderableColumns]="genericTableSettingInput.reorderableColumns" [ngClass]="genericTableSettingInput.customClass"
    [resizableColumns]="genericTableSettingInput.resizableColumns" class="customDataTable"
    (onRowSelect)="rowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>

            <col *ngFor="let col of columns" [style.width]="col.width">

        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>

            <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.filterfield">

                <span *ngIf="col.columnType=='data'">
                       {{col.header}}
                       <p-sortIcon [field]="col.filterfield"></p-sortIcon>
               </span>
                <span *ngIf="col.columnType=='selectall'">
                        <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        <!-- <i  class="fa fa-file-excel-o excel" aria-hidden="true" (click)="dt.exportCSV()"></i> -->
               </span>
                <span *ngIf="col.columnType=='action'">
                    Action
                    <!-- <a pTooltip="Export to Excel" tooltipPosition="top" class="underLineText pointerClass" (click)="export(dt)"><i class="fa fa-file-excel-o" aria-hidden="true"></i> </a> -->
               </span>
            </th>

        </tr>


    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                <span *ngIf="col.columnType=='selectall'">
                                       <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                               </span>
                <span *ngIf="col.columnType=='radioSelect'">
                                       <!-- <p-tableRadioButton [value]="rowData.selectRow"></p-tableRadioButton> -->
                                       <p-checkbox [(ngModel)]="rowData.selectRow" binary="true" (onChange)="toggleRow(rowData)"></p-checkbox>
                                       <!-- <p-radioButton name="groupname" value="select" [(ngModel)]="rowData.selectRow" (onClick)="toggleRadio(rowData)"></p-radioButton> -->
                               </span>

                <span *ngIf="col.columnType=='action'" class="all_icons table-icons">
                                   <!-- (click)="addLead(rowData)" -->

                                          <!-- <span *ngIf="col.actionSettings.view!=null && col.actionSettings.view &&  accessControlMasterMap['EMPLOYEEMANAGEMENT']!=undefined && accessControlMasterMap['EMPLOYEEMANAGEMENT']!=null && accessControlMasterMap['EMPLOYEEMANAGEMENT'].updateAccess==true"><a title="View Data" class="underLineText pointerClass" (click)="editEntity(rowData)"><i class="fa fa-fw fa-folder-open"></i> </a><br></span>                VIEW-->
                <span *ngIf="rowData.isDeactive!=null && rowData.isDeactive=='Y'  &&  accessControlMasterMap!=null && accessControlMasterMap['EMPLOYEEMANAGEMENT']!=undefined && accessControlMasterMap['EMPLOYEEMANAGEMENT']!=null && accessControlMasterMap['EMPLOYEEMANAGEMENT'].deleteAccess==true"><a pTooltip="Activate" tooltipPosition="top" class="underLineText pointerClass" (click)="activeDeactive(rowData,'active')"> <i class="fa fa-fw  fa-toggle-off"></i> </a><br></span>
                <span *ngIf="rowData.isDeactive!=null && rowData.isDeactive=='N'  &&  accessControlMasterMap!=null && accessControlMasterMap['EMPLOYEEMANAGEMENT']!=undefined && accessControlMasterMap['EMPLOYEEMANAGEMENT']!=null && accessControlMasterMap['EMPLOYEEMANAGEMENT'].deleteAccess==true"><a pTooltip="Deactivate" tooltipPosition="top" class="underLineText pointerClass" (click)="activeDeactive(rowData,'deactive')"> <i class="fa fa-fw  fa-toggle-on"></i> </a><br></span>
                <span *ngIf="rowData.isDeactive!=null && rowData.isDeactive=='Y'  &&  col.actionSettings.isDeactive "><a pTooltip="Activate" tooltipPosition="top" class="underLineText pointerClass" (click)="activeDeactive(rowData,'active')"> <i class="fa fa-fw  fa-toggle-off"></i> </a>&nbsp;</span>
                <span *ngIf="rowData.isDeactive!=null && rowData.isDeactive=='N'  &&  col.actionSettings.isDeactive "><a pTooltip="Deactivate" tooltipPosition="top" class="underLineText pointerClass" (click)="activeDeactive(rowData,'deactive')"> <i class="fa fa-fw  fa-toggle-on"></i> </a>&nbsp;</span>
                <span *ngIf="rowData.isApprove!=null && rowData.isApprove=='N'  &&  col.actionSettings.isApprove " ><a pTooltip="Approve" tooltipPosition="top" class="underLineText pointerClass" (click)="approve(rowData)"> <i class="fa fa-fw  fa-toggle-off"></i> </a>&nbsp;</span>

                <span *ngIf="rowData.isDeactive!=null && rowData.showPost==true  &&  col.actionSettings.showPost "><a pTooltip="Deactivate" tooltipPosition="top" class="underLineText pointerClass" (click)="showHidePost(rowData,'deactive')"> <i class="fa fa-fw  fa-toggle-on"></i> </a>&nbsp;</span>
                <span *ngIf="rowData.isDeactive!=null && rowData.showPost==false  &&  col.actionSettings.showPost "><a pTooltip="Activate" tooltipPosition="top" class="underLineText pointerClass" (click)="showHidePost(rowData,'active')"> <i class="fa fa-fw  fa-toggle-off"></i> </a>&nbsp;</span>
                <span *ngIf="rowData.isDeactive!=null && rowData.postRequest==true  &&  col.actionSettings.postRequest "><a pTooltip="Disallow" tooltipPosition="top" class="underLineText pointerClass" (click)="postPermission(rowData,'deactive')"> <i class="fa fa-fw  fa-toggle-on"></i> </a>&nbsp;</span>
                <span *ngIf="rowData.isDeactive!=null && rowData.postRequest==false  &&  col.actionSettings.postRequest "><a pTooltip="Allow" tooltipPosition="top" class="underLineText pointerClass" (click)="postPermission(rowData,'active')"> <i class="fa fa-fw  fa-toggle-off"></i> </a>&nbsp;</span>



                <span *ngIf="col.actionSettings.view!=null && col.actionSettings.view">

<a pTooltip="Edit" tooltipPosition="top" class="underLineText pointerClass" (click)="editEntity(rowData)"><i class="fa fa-fw fa-edit"></i> </a><br></span>


<span *ngIf="col.actionSettings.view!=null && col.actionSettings.postView">

    <a pTooltip="View Post Property" tooltipPosition="top" class="underLineText pointerClass" (click)="viewEntity(rowData)"><i class="fa fa-fw fa-pencil-square-o"></i> </a></span>

<span *ngIf="col.actionSettings.edit!=null && col.actionSettings.edit">

    <a pTooltip="Edit" tooltipPosition="top" class="underLineText pointerClass" (click)="editEntity(rowData)"><i class="fa fa-fw fa-folder-open"></i> </a><br></span>
                <!-- VIEW-->


                <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete">

<a pTooltip="Delete Data" tooltipPosition="top" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                <!--DELETE-->
                <!--
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['EMPLOYEEMANAGEMENT']!=undefined && accessControlMasterMap['EMPLOYEEMANAGEMENT']!=null && accessControlMasterMap['EMPLOYEEMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['LEADMANAGEMENT']!=undefined && accessControlMasterMap['LEADMANAGEMENT']!=null && accessControlMasterMap['LEADMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['COMPANYMANAGEMENT']!=undefined && accessControlMasterMap['COMPANYMANAGEMENT']!=null && accessControlMasterMap['COMPANYMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['INDIVIDUALMANAGEMENT']!=undefined && accessControlMasterMap['INDIVIDUALMANAGEMENT']!=null && accessControlMasterMap['INDIVIDUALMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['BRANCHMANAGEMENT']!=undefined && accessControlMasterMap['BRANCHMANAGEMENT']!=null && accessControlMasterMap['BRANCHMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null && accessControlMasterMap['ACCESSCONTROL'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['PACKAGEMANAGEMENT']!=undefined && accessControlMasterMap['PACKAGEMANAGEMENT']!=null && accessControlMasterMap['PACKAGEMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['INDIVIDUALMANAGEMENT']!=undefined && accessControlMasterMap['INDIVIDUALMANAGEMENT']!=null && accessControlMasterMap['INDIVIDUALMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['LISTMANAGEMENT']!=undefined && accessControlMasterMap['LISTMANAGEMENT']!=null && accessControlMasterMap['LISTMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span>
                                           <span *ngIf="col.actionSettings.delete!=null && col.actionSettings.delete  &&  accessControlMasterMap['MASTERMANAGEMENT']!=undefined && accessControlMasterMap['MASTERMANAGEMENT']!=null && accessControlMasterMap['MASTERMANAGEMENT'].deleteAccess==true" ><a title="Delete Data" class="underLineText pointerClass" (click)="deleteEntity(rowData)"> <i class="fa fa-fw fa-trash"></i></a><br></span> -->



                <span *ngIf="col.actionSettings.mom!=null && col.actionSettings.mom"><a pTooltip="MOM" tooltipPosition="top" class="underLineText pointerClass"> MOM</a><br></span>
                <span *ngIf="col.actionSettings.proofDelivery!=null && col.actionSettings.proofDelivery"><a pTooltip="PROOF OF DELIVERABLE" tooltipPosition="top" class="underLineText pointerClass"> PROOF OF DELIVERABLE</a><br></span>
                <span *ngIf="col.actionSettings.suggestionForMeeting!=null && col.actionSettings.suggestionForMeeting"><a pTooltip="SUGGESTION FOR MEETING" tooltipPosition="top" class="underLineText pointerClass"> SUGGESTION FOR MEETING</a><br></span>
                <span *ngIf="col.actionSettings.uploadImage!=null && col.actionSettings.uploadImage"><a pTooltip="Upload Image" tooltipPosition="top" class="underLineText pointerClass">UPLOAD IMAGE</a><br></span>
                <span *ngIf="col.actionSettings.postAbuseView!=null && col.actionSettings.postAbuseView"><a pTooltip="View" tooltipPosition="top" class="underLineText pointerClass" (click)="postAbuseView(rowData)"><i class="fa fa-fw fa-folder-open"></i> </a>&nbsp;</span>
                <!-- <span *ngIf="col.actionSettings.map!=null && col.actionSettings.map && rowData.clientMasterTemp==null"><a title="MAP" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-map" (click)="viewMap(rowData)">MAP</a><br></span> -->

                <!--       <span *ngIf="col.actionSettings.addLead!=null && col.actionSettings.addLead && !rowData.addToLead"><a title="ADD LEAD" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-lead" (click)="addLead(rowData)" > <i class="fa fa-fw fa-outdent"></i>  </a><br></span>ADD LEAD-->
                <!-- (click)="leadHistory(rowData)" -->

                <span *ngIf="col.actionSettings.leadCall!=null && col.actionSettings.leadCall"><a pTooltip="CALL HISTORY" tooltipPosition="top" class="underLineText pointerClass"  (click)="editEntity(rowData)"  > <i class="fa fa-fw   fa-phone-square"></i>  </a><br></span>
                <span *ngIf="col.actionSettings.leadEdit!=null && col.actionSettings.leadEdit"><a pTooltip="EDIT" tooltipPosition="top" class="underLineText pointerClass"  (click)="editEntity(rowData)"><i class="fa fa-fw    fa-pencil-square "></i></a><br></span>
                <span *ngIf="col.actionSettings.companyview!=null && col.actionSettings.companyview"><a pTooltip="VIEW" tooltipPosition="top" class="underLineText pointerClass" [routerLink]="['/sales/companyprofile']" ><i class="fa fa-fw fa-folder-open"></i></a><br></span>
                <!--VIEW-->
                <span *ngIf="col.actionSettings.payBalance!=null && col.actionSettings.payBalance"><a pTooltip="PAY BALANCE" tooltipPosition="top" class="underLineText pointerClass" >  <i class="fa fa-fw fa-money"></i>  </a><br></span>
                <span *ngIf="col.actionSettings.otherActivityView!=null && col.actionSettings.otherActivityView"><a pTooltip="View Data" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-activity" (click)="editEntity(rowData)"> <i class="fa fa-fw fa-folder-open"></i> </a><br></span>
                <!--View-->
                <span *ngIf="col.actionSettings.myList!=null && col.actionSettings.myList"><a pTooltip="MyList" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-mylist" (click)="myList(rowData)"> <i class="fa fa-fw fa-list-ul"></i> </a><br></span>
                <span *ngIf="col.actionSettings.myListToLead!=null && col.actionSettings.myListToLead"><a pTooltip="Add List To Project" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-mylistlead" (click)="myListToLead(rowData)"> <i class="fa fa-fw fa-outdent"></i> </a><br></span>
                <span *ngIf="col.actionSettings.copyList!=null && col.actionSettings.copyList"><a pTooltip="CopyList" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-operation" (click)="operation(rowData,'COPY')"> <i class="fa fa-fw fa-clone"></i> </a><br></span>
                <span *ngIf="col.actionSettings.moveList!=null && col.actionSettings.moveList"><a pTooltip="MoveList" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-operation" (click)="operation(rowData,'MOVE')"> <i class="fa fa-fw fa-external-link"></i> </a><br></span>
                <span *ngIf="col.actionSettings.editModal!=null && col.actionSettings.editModal"><a pTooltip="Edit Data" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-createModal" (click)="editModal(rowData)"> <i class="fa fa-pencil-square-o"></i> </a><br></span>
                <span *ngIf="col.actionSettings.report!=null && col.actionSettings.report"><a pTooltip="Project Statistics" tooltipPosition="top" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-reportModal" (click)="reportModal(rowData)"> <i class="fa fa-bar-chart"></i> </a><br></span>
                <span *ngIf="col.actionSettings.leadIndividualEdit!=null && col.actionSettings.leadIndividualEdit"><a pTooltip="View Data" tooltipPosition="top" class="underLineText pointerClass" data-toggle="modal" data-target="#modal-lead-individual" (click)="editEntity(rowData)"> <i class="fa fa-fw fa-folder-open"></i> </a><br></span>
                <span *ngIf="col.actionSettings.download!=null && col.actionSettings.download"><a pTooltip="View Downloads" tooltipPosition="top" class="underLineText pointerClass" (click)="downloadEntity(rowData)"> <i class="fa fa-fw fa-download"></i> </a><br></span>
                <span *ngIf="col.actionSettings.signIn!=null && col.actionSettings.signIn"><a pTooltip="View Login Logs" tooltipPosition="top" class="underLineText pointerClass" (click)="loginLogsEntity(rowData)"> <i class="fa fa-fw fa-sign-in"></i> </a><br></span>
                <!--
                                             *ngIf="accessControlMaster.accessControlId==null && accessControlMasterMap['SETTINGS']!=undefined && accessControlMasterMap['SETTINGS']!=null && accessControlMasterMap['SETTINGS'].createAccess==true"

                                              <span *ngIf="col.actionSettings.map!=null && col.actionSettings.map && rowData.clientMasterTemp==null"><a title="MAP" class="underLineText pointerClass"  (click)="viewMap(rowData)"><i class="fa fa-fw fa-file-zip-o"></i></a><br></span> -->
                </span>
                <span *ngIf="col.columnType=='data'" class="ellipse-content">
                                       <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                                       <ng-template #nested_object_content>
                                           <div *ngIf="rowData[col.field]?.length > 1 ">
                                               <ng-template ngFor let-data [ngForOf]="rowData[col.field]" let-index="index">
                                                   {{data[col.subfield] }}
                                               </ng-template>
                                           </div>
                                           <div *ngIf="rowData[col.field]!=null && rowData[col.field][col.subfield]!=null ">
                                                   {{ rowData[col.field][col.subfield]}}
                                           </div>

                                       </ng-template>
                                       <ng-template #normal_content>

                                           <div *ngIf="col.fieldType=='text' " class="ellipse-content">

                                               <span *ngIf="col.showinput!=null && col.showinput ">
                                                       <input  type="text" pInputText [(ngModel)]="rowData[col.field]"  id="{{col.field+index}}"
                                                       name="{{col.field+index}}" placeholder="Enter {{col.header}}" [ngStyle]="{'width':'100%'}" />
                                               </span>
                <span *ngIf="col.showinput==null ">
                                                       {{rowData[col.field]}}
                                               </span>
                </div>
                <div *ngIf="col.fieldType=='number' ">

                    <span *ngIf="col.showinput!=null && col.showinput ">
                                                           <input  type="number" pInputText [(ngModel)]="rowData[col.field]"  id="{{col.field+index}}"
                                                           name="{{col.field+index}}" placeholder="Enter {{col.header}}" [ngStyle]="{'width':'100%'}" />
                                                   </span>
                    <span *ngIf="col.showinput==null " class="ellipse-content">
                                                           {{rowData[col.field]}}
                                                   </span>
                </div>
                <div *ngIf="col.fieldType=='date' " class="ellipse-content">

                    <span *ngIf="col.showinput!=null && col.showinput ">
                                                       <p-calendar  [(ngModel)]="rowData[col.field]" dateFormat="dd/mm/yy" name="{{col.field+index}}" id="{{col.field+index}}"  [monthNavigator]="true" [yearNavigator]="true"
                                                       yearRange="2015:2040" inputStyleClass="form-control"  [ngStyle]="{'width':'100%'}"  placeholder="Enter {{col.header}}"></p-calendar>
                                               </span>
                    <span *ngIf="col.showinput==null ">
                                                       {{rowData[col.field] |  date:col.dateFormat }}
                                               </span>


                </div>
                <div *ngIf="col.fieldType=='datetime' " class="ellipse-content">

                    <span *ngIf="col.showinput!=null ">
                                                   <p-calendar [(ngModel)]="rowData[col.field]" dateFormat="dd/mm/yy" name="{{col.field+index}}" id="{{col.field+index}}"  [monthNavigator]="true" [yearNavigator]="true"
                                                   inputStyleClass="form-control" yearRange="2015:2030"  [style]="{'width': '100%'}"  [showTime]="true" hourFormat="12" [disabled]="true"></p-calendar>
                                               </span>
                    <span *ngIf="col.showinput==null ">
                                                   {{rowData[col.field] |  date:col.dateFormat }}
                                           </span>
                </div>
                <div *ngIf="col.fieldType=='textarea' " class="ellipse-content">
                    <span *ngIf="col.showinput!=null && col.showinput ">
                                                           <textarea pInputTextarea [(ngModel)]="rowData[col.field]" style="width: 100%" name="{{col.field+index}}" id="{{col.field+index}}"></textarea>
                                                   </span>
                    <span *ngIf="col.showinput==null ">
                                                           {{rowData[col.field]}}
                                                   </span>
                </div>
                <div *ngIf="col.fieldType=='userprofile' && rowData.userProfilePic!=null && rowData.userProfilePic!='' " class="ellipse-content">
                        <img src="{{rowData.userProfilePic}}" 
                        alt="user-image" class="img-50 m-r-15 pointerClass" (click)="selectImage($event,rowData,profileOverlay,'userProfilePic')">
                </div>
                <div *ngIf="col.fieldType=='userpic' && rowData.userLogoPath!=null && rowData.userLogoPath!='' " class="ellipse-content">
                    <img src="{{rowData.userLogoPath}}" 
                    alt="user-image" class="img-50 m-r-15 pointerClass" (click)="selectImage($event,rowData,profileOverlay,'userLogoPath')">
            </div>
                <div *ngIf="col.fieldType=='postcontent' " class="ellipse-content">
                    <ul class="list-unstyled m-b-25" *ngIf="rowData.contentMasterList!=null">
                        <li *ngFor="let contentMaster of rowData.contentMasterList" class="d-inline-block">
                            <span *ngIf="contentMaster.contentType=='image'">
                                                                                <img src="{{contentMaster.filePath}}" 
                                                                                alt="post-image" class="img-rect-50 m-r-15 pointerClass m-b-5" (click)="selectImage($event,contentMaster,profileOverlay,'filePath')">
                                                                </span>
                            <!-- <span *ngIf="contentMaster.contentType=='video'">
                                                                         <video src="{{contentMaster.filePath}}" controls class="img-radius img-30 m-r-15">
                                                                         </video>
                                                                </span> -->

                        </li>
                        <!-- <li class="d-inline-block"><img src="assets/images/avatar-6.jpg" alt="user-image" class="img-radius img-30 m-r-15"></li>
                                                        <li class="d-inline-block"><img src="assets/images/avatar-6.jpg" alt="user-image" class="img-radius img-30 m-r-15"></li>
                                                        <li class="d-inline-block"><img src="assets/images/avatar-6.jpg" alt="user-image" class="img-radius img-30 m-r-15"></li> -->
                    </ul>
                </div>
                <div *ngIf="col.fieldType=='postcontentpdf' " class="ellipse-content">
                    <ul class="list-unstyled m-b-25" *ngIf="rowData.contentMasterList1!=null">
                        <!-- <li *ngFor="let contentMaster of rowData.contentMasterList1"> -->
                            <span *ngIf="rowData.contentMasterList1[0]?.contentType=='video'">
                                <button class="btn-danger" (click)="downloadPdf(rowData.contentMasterList1[0]?.filePath,'TestFile')"><i class="fa fa-download" aria-hidden="true" ></i> Download</button> 

                                                                                <!-- <img src="{{contentMaster.filePath}}" 
                                                                                alt="post-image" class="img-rect-50 m-r-15 pointerClass m-b-5" (click)="selectImage($event,contentMaster,profileOverlay,'filePath')"> -->
                                                                </span>
                

                        <!-- </li> -->
                        <!-- <li class="d-inline-block"><img src="assets/images/avatar-6.jpg" alt="user-image" class="img-radius img-30 m-r-15"></li>
                                                        <li class="d-inline-block"><img src="assets/images/avatar-6.jpg" alt="user-image" class="img-radius img-30 m-r-15"></li>
                                                        <li class="d-inline-block"><img src="assets/images/avatar-6.jpg" alt="user-image" class="img-radius img-30 m-r-15"></li> -->
                    </ul>
                </div>


                <div *ngIf="col.fieldType=='priority' && rowData[col.field]=='cold' " class="priority-cold">
                    {{rowData[col.field]}}
                </div>
                <div *ngIf="col.fieldType=='priority' && rowData[col.field]=='warm' " class="priority-warm">
                    {{rowData[col.field]}}
                </div>
                <div *ngIf="col.fieldType=='priority' && rowData[col.field]=='hot' " class="priority-warm">
                    {{rowData[col.field]}}
                </div>
                <div *ngIf="col.fieldType=='upload' ">
                    <input type="file" name="file" id="file" accept="image/*">
                </div>

                <div *ngIf="col.fieldType=='na' ">
                </div>
    </ng-template>
    </span>
    </td>

    </tr>

    </ng-template>
    <ng-template *ngIf="genericTableSettingInput.totalDisplay!=null && genericTableSettingInput.totalDisplay" pTemplate="summary">
        Total : {{totalNumber}}
    </ng-template>
</p-table>



<div *ngIf="genericTableSettingInput.paginate!=null && genericTableSettingInput.paginate">
    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,20,30,50,100,200,totalRecords]"></p-paginator>
    <!--[rowsPerPageOptions]="[10,20,30,50,100,200]"  -->
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-overlayPanel #profileOverlay>
    <img src="{{selectedImage}}" *ngIf="selectedRow!=null"/>
</p-overlayPanel>
