<app-card [title]="'Company Details'" [cardClass]="'table-card'" [expandIcon]="true" [minimizeIcon]="true" [filterCheck]="false" [showFilter]="false"
[showBackButton]="false" #card>
  <div class="data-view page-body" *ngIf="!checkCompanyDetailView"> 
        <div class="row">
            <!-- <div class="col-md-4">
                <label class="custom-label">Name <span style="color:red;">*</span></label>
                <input pInputText class="form-control" [(ngModel)]="companyDetailMaster.name"
                type="text" name="name" placeholder="Name" id="name">
            </div> 
            <div class="col-md-4">
                    <label class="custom-label">Email <span style="color:red;">*</span></label>
                    <input pInputText class="form-control" [(ngModel)]="companyDetailMaster.email"
                    type="text" name="email" placeholder="Email" id="email">
            </div>
            <div class="col-md-4">
                    <label class="custom-label">Phone <span style="color:red;">*</span></label>
                    <input pInputText class="form-control" [(ngModel)]="companyDetailMaster.phone"
                    type="text" name="phone" placeholder="Phone" id="phone">
            </div> -->
            <!-- <div class="col-md-4">
                <label class="custom-label">Facebook Page</label>
                <input pInputText class="form-control" [(ngModel)]="companyDetailMaster.facebookPage"
                type="text" name="facebookPage" placeholder="Facebook Page" id="facebookpage">
            </div> 
            <div class="col-md-4">
                    <label class="custom-label">Instagram Page</label>
                    <input pInputText class="form-control" [(ngModel)]="companyDetailMaster.instagramPage"
                    type="text" name="instagramPage" placeholder="Instagram Page" id="instagrampage">
            </div> -->
            <!-- <div class="col-md-12">
                <label class="custom-label">Address <span style="color:red;">*</span></label>
                <textarea class="form-control" pInputTextarea [(ngModel)]="companyDetailMaster.address"  id="address"
                 name="address" placeholder="Address"  [ngStyle]="{'width':'100%'}" [rows]="2"></textarea>
        </div> -->
            <!-- <div class="col-md-4">
                    <label class="custom-label">Twitter </label>
                    <input pInputText class="form-control" [(ngModel)]="companyDetailMaster.twitterPage"
                    type="text" name="twitterpage" placeholder="Twitter Page" id="twitterpage">
            </div> -->
            <p-fileUpload name="myfile" customUpload="true" (onSelect)="myUploader($event)" (onRemove)="myUploader($event)" [showUploadButton]="false" [showCancelButton]="true" (onClear)="clearFiles()" fileLimit="fileLimit" accept="image/*">
</p-fileUpload>
<div *ngIf="companyDetailMaster.filePath">
    <img src="{{companyDetailMaster.filePath}}" width="200" height="100">
</div>
            <div class="col-md-12">
                    <label class="custom-label">Description <span style="color:red;">*</span></label>
                    <!-- <textarea class="form-control" pInputTextarea [(ngModel)]="companyDetailMaster.description"  id="description"
                     name="description" placeholder="Description"  [ngStyle]="{'width':'100%'}" [rows]="2"></textarea> -->
                     <ckeditor [config]="{ toolbar: [  'bold', 'italic' ] }" [editor]="Editor" [(ngModel)]="companyDetailMaster.description" ></ckeditor>

            </div>
            
            
                  
        </div>
        <div class="row m-t-20">
            <div class="col-md-12">
                <button *ngIf="companyDetailMaster.companyDetailId==null"  type="button" class="btn btn-primary waves-light" (click)="saveCompanyDetail()">Save</button>
                <button *ngIf="companyDetailMaster.companyDetailId!=null"  type="button" class="btn btn-primary waves-light" (click)="saveCompanyDetail()">Update</button>
            </div>
        </div>

  </div>
  <div class="data-view page-body" *ngIf="checkCompanyDetailView"> 
    <div class="row">
            <div class="col-md-6">
                    <table class="table m-0">
                            <tbody  class="ng-tns-c11-12">
                            <tr  class="ng-tns-c11-12">
                              <th  class="ng-tns-c11-12" >Name</th>
                              <td  class="ng-tns-c11-12">{{companyDetailMaster.name}}</td>
                            </tr>
                            <tr  class="ng-tns-c11-12">
                              <th  class="ng-tns-c11-12" >Email</th>
                              <td  class="ng-tns-c11-12">{{companyDetailMaster.email}}</td>
                            </tr>
                            <tr  class="ng-tns-c11-12">
                                <th  class="ng-tns-c11-12" >Phone</th>
                                <td  class="ng-tns-c11-12">{{companyDetailMaster.phone}}</td>
                            </tr>
                           
                            <tr  class="ng-tns-c11-12">
                                <th  class="ng-tns-c11-12" >Description</th>
                                <td  class="ng-tns-c11-12">{{companyDetailMaster.description}}</td>
                            </tr>
                            </tbody>
                    </table>
            </div>

            <div class="col-md-6">
                    <table class="table m-0">
                            <tbody  class="ng-tns-c11-12">
                            <tr  class="ng-tns-c11-12">
                                <th  class="ng-tns-c11-12" >Facebook Page</th>
                                <td  class="ng-tns-c11-12">{{companyDetailMaster.description}}</td>
                            </tr>
                            <tr  class="ng-tns-c11-12">
                                <th  class="ng-tns-c11-12" >Instagram Page</th>
                                <td  class="ng-tns-c11-12">{{companyDetailMaster.instagramPage}}</td>
                            </tr>
                            <tr  class="ng-tns-c11-12">
                                <th  class="ng-tns-c11-12" >Address</th>
                                <td  class="ng-tns-c11-12">{{companyDetailMaster.address}}</td>
                            </tr>
                            </tbody>
                    </table>
            </div>              
    </div>
</div>

</app-card>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
