<app-card [title]="'Password'" [cardClass]="'table-card'" [expandIcon]="true" [minimizeIcon]="true" [filterCheck]="false" [showFilter]="false"
[showBackButton]="false" #card>
  <div class="data-view page-body" > 
        <div class="row">
            <div class="col-md-4">
                <label class="custom-label">Current Password <span style="color:red;">*</span></label>
                <input pInputText class="form-control" [(ngModel)]="profileUser.currentPassword"
                type="password" name="currentPassword" placeholder="Current Password" id="currentPassword" >
            </div> 
        </div>
        <div class="row">
            <div class="col-md-4">
                    <label class="custom-label">New Password <span style="color:red;">*</span></label>
                    <input pInputText class="form-control" [(ngModel)]="profileUser.newPassword"
                    type="password" name="newPassword" placeholder="New Password" id="newPassword" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                    <label class="custom-label">Confirm Password <span style="color:red;">*</span></label>
                    <input pInputText class="form-control" [(ngModel)]="profileUser.confirmPassword"
                    type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" >
            </div>
                  
        </div>
        <div class="row m-t-20">
            <div class="col-md-12" *ngIf="validationUserError">
                <span style="color:red;">*{{validationUserMsg}}</span>
            </div>
         </div>
        <div class="row m-t-20">
            <div class="col-md-12">
                <button   type="button" class="btn btn-primary waves-light" (click)="changePassword()">Change Password</button>
            </div>
        </div>

  </div>
</app-card>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
