<div id="pcoded" class="pcoded" [ngClass]="animateSidebar" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout" [attr.pcoded-device-type]="pcodedDeviceType" [attr.vertical-nav-type]="verticalNavType"
    [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vnavigationView" [attr.fream-type]="freamType" [attr.sidebar-img]="sidebarImg" [attr.sidebar-img-type]="sidebarImgType" [attr.layout-type]="layoutType" (window:resize)="onResize($event)">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header calci-header" [attr.header-theme]="headerTheme" [attr.pcoded-header-position]="pcodedHeaderPosition">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu ripple light" id="mobile-collapse" href="javascript:" (click)="toggleOpened($event)" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutsideSidebar($event)">
                        <i class="icon-menu"></i>
                    </a>
                    <a [routerLink]="['/panel/okr/dashboard']" class="ripple light headerlogo">
                        <span><img class="img-fluid" src="assets/images/logo.png" alt="OKR Admin" /></span><span class="logo-text"></span>
                    </a>
                    <a href="javascript:" class="mobile-options ripple light" (click)="toggleHeaderNavRight()">
                        <i class="icon-more"></i>
                    </a>
                </div>
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li class="ripple light">
                            <div class="sidebar_toggle"><a href="javascript:"><i class="icon-menu"></i></a></div>
                        </li>
                        <!-- <li class="header-search">
              <div id="main-search" class="main-search morphsearch-search">
                <div class="input-group">
                  <span class="input-group-prepend search-close" (click)="searchOff()"><i class="icon-close input-group-text"></i></span>
                  <input class="form-control" [style.width]="searchWidthString" />
                  <span class="input-group-append search-btn" (click)="searchOn()"><i class="icon-search input-group-text"></i></span>
                </div>
              </div>
            </li> -->
                        <li class="ripple light" appToggleFullScreen>
                            <a href="javascript:">
                                <i class="icon-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul [@mobileHeaderNavRight]="navRight" [ngClass]="navRight" class="nav-right">
                        <li (clickOutside)="notificationOutsideClick('live')" class="header-notification ripple light hideclass" [ngClass]="liveNotificationClass" (click)="toggleLiveNotification()">
                            <a href="javascript:">
                                <i class="icon-bell"></i>
                                <span class="badge bg-c-red"></span>
                            </a>
                            <ul [@notificationBottom]="liveNotification" class="show-notification" [ngClass]="liveNotificationClass">
                                <li>
                                    <h6>Notifications</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                                <li class="ripple">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius" src="assets/images/blank-profile-pic.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">John Doe</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="ripple">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius" src="assets/images/blank-profile-pic.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Joseph William</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="ripple">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius" src="assets/images/blank-profile-pic.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sara Soudein</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="ripple light hideclass">
                            <a href="javascript:" (click)="toggleChat()">
                                <i class="icon-comments"></i>
                                <span class="badge bg-c-green"></span>
                            </a>
                        </li>
                        <li (clickOutside)="notificationOutsideClick('profile')" class="user-profile header-notification ripple light" [ngClass]="profileNotificationClass" (click)="toggleProfileNotification()">
                            <a href="javascript:">
                                <img src="assets/images/blank-profile-pic.png" class="img-radius" alt="User-Profile-Image">
                                <span>{{user.firstName}} {{user.middleName}} {{user.lastName}}</span>
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul [@notificationBottom]="profileNotification" class="show-notification profile-notification" [ngClass]="profileNotificationClass">
                                <!-- <li class="ripple">
                  <a href="javascript:">
                    <i class="icon-settings"></i> Settings
                  </a>
                </li>
                <li class="ripple">
                  <a [routerLink]="['/user/profile/']">
                    <i class="icon-user"></i> Profile
                  </a>
                </li>
                <li class="ripple">
                  <a href="javascript:">
                    <i class="icon-email"></i> My Messages
                  </a>
                </li>
                <li class="ripple">
                  <a [routerLink]="['/auth/lock-screen/']" target="_blank">
                    <i class="icon-lock"></i> Lock Screen
                  </a>
                </li> -->
                                <li class="ripple pointerClass">

                                    <!-- <a [routerLink]="['/auth/login/simple/']" target="_blank">
                    <i class="icon-layout-sidebar-left"></i> Logout 
                  </a> -->

                                    <a [routerLink]="['/panel/user/changepassword']"><i class="icon-widgetized"></i>Change Password</a>
                                    <a (click)="logout()"><i class="icon-layout-sidebar-left"></i> Logout </a>

                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Sidebar chat start -->
                    <div [@slideInOut]="chatSlideInOut" id="sidebar" class="users p-chat-user showChat" [ngClass]="chatSlideInOut">
                        <div class="had-container">
                            <div class="card card_main p-fixed users-main">
                                <div class="user-box">
                                    <div class="chat-search-box">
                                        <span class="back_friendlist" (click)="toggleChat()">
                      <i class="fa fa-chevron-left"></i>
                    </span>
                                        <div class="right-icon-control">
                                            <form class="form-material" action="javascript:">
                                                <div class="form-group form-primary">
                                                    <!-- <input type="text" name="search-text" class="form-control" id="search-friends" required="" />
                          <span class="form-bar"></span>
                          <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Friend</label> -->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="main-friend-list">
                                        <div class="media userlist-box ripple" data-username="Josephin Doe" placement="left" ngbTooltip="Josephin Doe" (click)="toggleInnerChat()">
                                            <a class="media-left" href="javascript:">
                                                <img class="media-object img-radius img-radius" src="assets/images/avatar-6.jpg" alt="Josephin Doe">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Josephin Doe</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box ripple" data-username="Lary Doe" placement="left" ngbTooltip="Lary Doe" (click)="toggleInnerChat()">
                                            <a class="media-left" href="javascript:">
                                                <img class="media-object img-radius" src="assets/images/avatar-6.jpg" alt="Lary Doe">
                                                <div class="live-status bg-danger"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Lary Doe</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box ripple" data-username="Alice" placement="left" ngbTooltip="Alice" (click)="toggleInnerChat()">
                                            <a class="media-left" href="javascript:">
                                                <img class="media-object img-radius" src="assets/images/avatar-6.jpg" alt="Alice">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Alice</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box ripple" data-username="Alia" placement="left" ngbTooltip="Alia" (click)="toggleInnerChat()">
                                            <a class="media-left" href="javascript:">
                                                <img class="media-object img-radius" src="assets/images/avatar-6.jpg" alt="Alia">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Alia</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box ripple" data-username="Suzen" placement="left" ngbTooltip="Suzen" (click)="toggleInnerChat()">
                                            <a class="media-left" href="javascript:">
                                                <img class="media-object img-radius" src="assets/images/avatar-6.jpg" alt="Suzen">
                                                <div class="live-status bg-danger"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Suzen</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar inner chat start-->
                    <!-- <div [@slideInOut]="innerChatSlideInOut" class="showChat_inner">
            <div class="media chat-inner-header">
              <a class="back_chatBox">
                <i class="fa fa-chevron-left" (click)="toggleInnerChat()"></i> Josephin Doe
              </a>
            </div>
            <div class="media chat-messages">
              <a class="media-left photo-table" href="javascript:">
                <img class="media-object img-radius img-radius m-t-5" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body chat-menu-content">
                <div class="">
                  <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                  <p class="chat-time">8:20 a.m.</p>
                </div>
              </div>
            </div>
            <div class="media chat-messages">
              <div class="media-body chat-menu-reply">
                <div class="">
                  <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                  <p class="chat-time">8:20 a.m.</p>
                </div>
              </div>
              <div class="media-right photo-table">
                <a href="javascript:">
                  <img class="media-object img-radius img-radius m-t-5" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                </a>
              </div>
            </div>
            <div class="chat-reply-box">
              <div class="right-icon-control">
                <form class="form-material" action="javascrpit:">
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Share Your Thoughts</label>
                  </div>
                </form>
                <div class="form-icon ">
                  <button class="btn btn-success btn-icon ripple light">
                    <i class="fa fa-paper-plane "></i>
                  </button>
                </div>
              </div>
            </div>
          </div> -->
                    <!-- Sidebar inner chat end-->
                </div>
            </div>
        </nav>

        <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
            <!--  -->
            <div class="pcoded-wrapper">
                <nav id="main_navbar" class="pcoded-navbar" (clickOutside)="onClickedOutsideSidebar($event)" [exclude]="'#mobile-collapse'" [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2" active-item-style="style0"
                    [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.pcoded-navbar-position]="pcodedSidebarPosition" [style.top]="headerFixedTop" [style.height]="sidebarFixedNavHeight" (mouseleave)="hoverOutsideSidebar()">
                    <perfect-scrollbar [style.max-width]="'235px'" [style.max-height]="sidebarFixedHeight" [config]="config" [ngClass]="perfectDisable">
                        <div class="pcoded-inner-navbar main-menu" appAccordion>
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-menu-user img-radius" src="assets/images/blank-profile-pic.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span id="more-details" (click)="toggleOpenedSidebar()"> {{user.firstName}} {{user.middleName}} {{user.lastName}}
                      <i class="fa fa-caret-down m-l-10"></i>
                    </span>
                                    </div>
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details pointerClass" [ngClass]="isCollapsedSideBar">
                                            <!-- <a [routerLink]="['/panel/user/profile']" class="ripple"><i class="icon-user"></i>View Profile</a>
                      <a href="javascript:" class="ripple"><i class="icon-settings"></i>Settings</a> -->
                                            <!-- <a [routerLink]="['/auth/login/simple']" class="ripple" target="_blank"><i class="icon-layout-sidebar-left"></i>Logout</a> -->
                                            <!-- <a [routerLink]="['/panel/user/companydetails']" ><i class="icon-user"></i>Company Profile</a> -->
                                            <!-- <a *ngIf="accessControlMasterMap['COMPANY-DETAILS']!=null && accessControlMasterMap['COMPANY-DETAILS'].readAccess" [routerLink]="['/panel/user/companydetails']"><i class="icon-user"></i>Company Profile</a> -->
                                            <!-- <a *ngIf="accessControlMasterMap['COMPANY-DETAILS']!=null && !accessControlMasterMap['COMPANY-DETAILS'].readAccess" [routerLink]="['/panel/user/companydetailsview']"><i class="icon-user"></i>Company Profile</a> -->
                                            <a [routerLink]="['/panel/user/changepassword']"><i class="icon-widgetized"></i>Change Password</a>
                                            <a (click)="logout()" class="ripple"><i class="icon-layout-sidebar-left"></i>Logout</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="p-15 p-b-0">
                <form class="form-material" action="javascript:">
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Friend</label>
                  </div>
                </form>
              </div> -->
                            <!-- menuItems.getAll() -->
                            <div *ngFor="let asideItems of menu" class="d-color">
                                <div class="pcoded-navigation-label" [attr.menu-title-theme]="menuTitleTheme">{{asideItems.label}}</div>
                                <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder" [attr.item-border-style]="itemBorderStyle" [attr.subitem-border]="subItemBorder" *ngFor="let asideItem of asideItems.main" appAccordionLink group="{{asideItem.state}}">
                                    <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink group="{{asideItem.state}}">
                                        <a [routerLinkActive]="['active']" class="ripple" href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                                            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                            <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                    <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                                        <a [routerLinkActive]="['active']" class="ripple" [routerLink]="['/panel', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle *ngIf="asideItem.main_state; else mainContent">
                                            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                            <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ng-template #mainContent>
                                            <a [routerLinkActive]="['active']" class="ripple" [routerLink]="['/panel', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                                                <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                                <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                                <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </ng-template>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'custom'" appAccordionLink group="{{asideItem.state}}">
                                        <a [routerLinkActive]="['active']" class="ripple" [routerLink]="['/panel', asideItem.main_state+'/'+asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle *ngIf="asideItem.main_state; else mainContent">
                                            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                            <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ng-template #mainContent>
                                            <a [routerLinkActive]="['active']" class="ripple" [routerLink]="['/panel', asideItem.main_state+'/'+asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                                                <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                                <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                                <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </ng-template>
                                    </li>
                                    <li (mouseleave)="fireClickLeave($event)" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon" appAccordionLink group="{{asideItem.state}}">
                                        <a (mouseover)="fireClick($event)" [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                                            <div class="ripple menu-ripple"></div>
                                            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                                            <span class="pcoded-mtext">{{ asideItem.name }}</span>
                                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                                                <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                                                    <a [routerLinkActive]="['active']" [routerLink]="['/panel', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                                                        <div class="ripple menu-ripple"></div>
                                                        <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                                                        <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                                                        <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>

                                                <li (mouseleave)="fireClickLeave($event)" [routerLinkActive]="['active']" class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon" *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                                                    <a (mouseover)="fireClick($event)" [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                                                        <div class="ripple menu-ripple"></div>
                                                        <span class="pcoded-micon"><i class="icon-direction-alt"></i></span>
                                                        <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                                                        <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                    <ul class="pcoded-submenu">
                                                        <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                                                            <li [routerLinkActive]="['active']">
                                                                <a [routerLinkActive]="['active']" [routerLink]="['/panel', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                                                    <div class="ripple menu-ripple"></div>
                                                                    <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                                                                    <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                                                    <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                                                    <span class="pcoded-mcaret"></span>
                                                                </a>
                                                            </li>
                                                        </ng-template>
                                                    </ul>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="text-center"> v1.4 </div> -->
                        </div>
                    </perfect-scrollbar>
                </nav>
                <div class="pcoded-content">
                    <app-breadcrumbs></app-breadcrumbs>
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="default" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
                                    <p style="color: white"> Loading... </p>
                                </ngx-spinner>
                                <router-outlet>
                                    <title></title>
                                    <app-spinner></app-spinner>
                                </router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>