<div class="row">
  <div class="col-xs-12">
      <!-- <section class="content-header"> -->
      <!--  -->
      <!-- </section> -->
      <div class="row">
          <!-- <div class="col-xs-12">
              <button  type="button" class="btn btn-primary buttonAdd pull-right" style="font-size: 14px;" data-toggle="modal" data-target="#accessControlModal" (click)="addAccessControlModal()" *ngIf="accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null  && accessControlMasterMap['ACCESSCONTROL'].createAccess==true">
                  <i class="fa fa-plus"></i> Add Module Access
              </button>
          </div> -->
      </div>
      <div>
          <p-table #dt [columns]="cols" [value]="accessControlMasterList" [autoLayout]="true" sortMode="multiple" [scrollable]="true"
          [style]="{width:'100%'}" scrollHeight="500px" [reorderableColumns]="true" [resizableColumns]="true">
              <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                      <col *ngFor="let col of columns" [style.width]="col.width">
                  </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.filterfield">
                          {{col.header}}
                          <p-sortIcon [field]="col.filterfield"></p-sortIcon>
                      </th>
                      <th class="actionButton">
                          Action
                      </th>
                  </tr>
                  <tr>
                      <th *ngFor="let col of columns">
                          <input placeholder="Search {{col.header}}" pInputText type="text" (input)="dt.filter($event.target.value, col.filterfield, 'contains')">
                      </th>
                      <th class="actionButton">
                          <i class="fa fa-file-excel-o excel" aria-hidden="true" (click)="dt.exportCSV()"></i>

                        &nbsp;&nbsp;
                          <i class="fa fa-plus"  data-toggle="modal" data-target="#accessControlModal" (click)="addAccessControlModal()" *ngIf="accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null  && accessControlMasterMap['ACCESSCONTROL'].createAccess==true"></i>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>

                      <td *ngFor="let col of columns" class="ui-resizable-column">
                          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                          <ng-template #nested_object_content>
                              {{rowData[col.field][col.subfield]}}
                          </ng-template>
                          <ng-template #normal_content>
                              <span *ngIf="rowData[col.field]==true"> Yes </span> 
                              <span *ngIf="rowData[col.field]==false">No </span>
                              <span *ngIf="rowData[col.field]!=true &&
                                              rowData[col.field]!=false">{{rowData[col.field]}}</span>
                          </ng-template>

                      </td>



                      <td class="actionButton ui-resizable-column">
                          <div>
                              <i  *ngIf="accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null  && accessControlMasterMap['ACCESSCONTROL'].updateAccess==true" class="fa fa-edit pointerClass update" style="color:blue" (click)="updateAccessControlModel(rowData)" data-toggle="modal" data-target="#accessControlModal"></i> &nbsp;&nbsp;
                              <i *ngIf="accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null  && accessControlMasterMap['ACCESSCONTROL'].deleteAccess==true" class="fa fa-trash pointerClass delete" style="color:red" (click)="deleteAccessControl(rowData)"></i>                                &nbsp;&nbsp;
                          </div>
                      </td>

                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>



<div class="modal fade" id="accessControlModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title"> Module Access</h4>
          </div>
          <div class="modal-body">
              <div class="row" *ngIf="accessControlMaster.accessControlId==null">

                  <!-- <div class="col-md-6">
                      <div class="form-group">
                          <label>Role</label>
                          <div class="input-group">
                              <select [(ngModel)]="
                              .id" name="roleId" class=" form-control" id="roleId" style="width: 100%" (click)="getRoleList()">
                                  <option value="0">Select Role</option>
                                  <option *ngFor="let roleMaster of roleList" [ngValue]="roleMaster.id">
                                      {{roleMaster.description}}
                                  </option>
                              </select>

                          </div>
                      </div>
                  </div> -->
                  <div class="col-md-8">
                      <div class="form-group">
                          <label>Module Name: &nbsp;&nbsp;</label>
                          <p-multiSelect [options]="moduleList" [(ngModel)]="selectedModuleList" (onSelect)="onItemSelect($event)"
                          (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" name="roleModuleDD"
                          optionLabel="moduleName" id="roleModuleDD" styleClass="form-control" [style]="{width: '220px'}">

                          </p-multiSelect>


                      </div>
                  </div>
              </div>

              <div class="row" *ngIf="accessControlMaster.accessControlId!=null">

                  <!-- <div class="col-md-6">
                      <div class="form-group">
                          <label>Role</label>
                          <div class="input-group">
                              <select [(ngModel)]="role.id" name="roleId" class=" form-control" id="roleId" style="width: 100%" disabled>
                                  <option value="0">Select Role</option>
                                  <option *ngFor="let roleMaster of roleList" [ngValue]="roleMaster.id">
                                      {{roleMaster.description}}
                                  </option>
                              </select>

                          </div>
                      </div>
                  </div> -->
                  <!-- <div class="col-md-6">
                      <div class="form-group">
                          <label>Module Name</label>
                          <div class="input-group">
                              <select [(ngModel)]="moduleMaster.moduleId" name="moduleId" class=" form-control" id="moduleId" style="width: 100%" disabled>
                                  <option value="0">Select Module</option>
                                  <option *ngFor="let moduleMaster of moduleList" [ngValue]="moduleMaster.moduleId">
                                      {{moduleMaster.moduleName}}
                                  </option>
                              </select>
                          </div>
                      </div>
                  </div> -->
              </div>
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <div class="input-group">
                              <p-checkbox [(ngModel)]="accessControlMaster.createAccess" label="Create " binary="true" name="createAccess" id="createAccess"></p-checkbox>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <div class="input-group">
                              <p-checkbox [(ngModel)]="accessControlMaster.readAccess" label="Read " binary="true" name="readAccess" id="readAccess"></p-checkbox>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <div class="input-group">
                              <p-checkbox [(ngModel)]="accessControlMaster.updateAccess" label="Update " binary="true" name="updateAccess" id="updateAccess"></p-checkbox>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <div class="input-group">
                              <p-checkbox [(ngModel)]="accessControlMaster.deleteAccess" label="Delete " binary="true" name="deleteAccess" id="deleteAccess"></p-checkbox>

                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="modal-footer">
              <button #accessControlModalClose type="button" class="btn btn-default pull-left" data-dismiss="modal">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Close</button>
              <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveWeeklyOff()">Save</button> -->
              <button *ngIf="accessControlMaster.accessControlId==null && accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null && accessControlMasterMap['ACCESSCONTROL'].createAccess==true" type="button" class="btn btn-primary buttonAdd" style="font-size: 14px;"
                  data-dismiss="modal" (click)="saveAccessControl()">
                  Add</button>
              <button *ngIf="accessControlMaster.accessControlId!=null && accessControlMasterMap['ACCESSCONTROL']!=undefined && accessControlMasterMap['ACCESSCONTROL']!=null && accessControlMasterMap['ACCESSCONTROL'].updateAccess==true" type="button" class="btn btn-primary buttonUpdate" data-dismiss="modal"
                  (click)="saveAccessControl()">
                 Update</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
