<!-- <table class="customTable" *ngIf="showConfigFilter">
                        <tr>
                            <td [ngStyle]="{'width':'200px'}">
                                  <p-multiSelect   [options]="filterModuleMasterList" [(ngModel)]="selectedFilterModuleMasterList"
                                    name="filterModule" optionLabel="defaultLabel"  [style]="{'width':'200px'}"
                                    id="filterModule" (onChange)="filterSelection($event)"
                                    defaultLabel="Configure Filter" [filter]="true" [maxSelectedLabels]="1" styleClass="form-control">
                                  </p-multiSelect>
                            </td>
                        </tr>

                </table> -->
<div class="ui-g" *ngIf="showConfigFilter">
    <div class="ui-g-12" [ngStyle]="{'width':'220px'}">
        <div class="ui-g-3" [ngStyle]="{'width':'220px'}">
            <p-multiSelect [options]="filterModuleMasterList" [(ngModel)]="selectedFilterModuleMasterList" name="filterModule" optionLabel="defaultLabel" [style]="{'width':'200px'}" id="filterModule" (onChange)="filterSelection($event)" defaultLabel="Configure Filter"
                [filter]="true" [maxSelectedLabels]="2" styleClass="form-control">
            </p-multiSelect>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <ng-template ngFor let-col [ngForOf]="genericColsInput" let-i="index">
            <div class="ui-g-2" [ngSwitch]="col.fieldType" [ngStyle]="{'width':'200px'}">

                <input *ngSwitchCase="'number'" type="number" pInputText [(ngModel)]="genericFilterInput[col.fieldName]" id="{{col.fieldName}}" name="{{col.fieldName}}" placeholder="Enter {{col.defaultLabel}}" [ngStyle]="{'width':col.width}" />

                <input *ngSwitchCase="'text'" type="text" pInputText [(ngModel)]="genericFilterInput[col.fieldName]" id="{{col.fieldName}}" name="{{col.fieldName}}" placeholder="Enter {{col.defaultLabel}}" [ngStyle]="{'width':col.width}" />

                <textarea *ngSwitchCase="'textarea'" pInputTextarea [(ngModel)]="genericFilterInput[col.fieldName]" id="{{col.fieldName}}" name="{{col.fieldName}}" placeholder="Enter {{col.defaultLabel}}" [ngStyle]="{'width':col.width}" [rows]="3"></textarea>

                <!-- <p-multiSelect *ngSwitchCase="'multiselect'" [options]="col.lookupValues" [(ngModel)]="genericFilterInput[col.lookupSelect]" (onSelectAll)="onSelectAll($event)" name="{{col.fieldName}}" optionLabel="{{col.optionLabel}}" [style]="{width: col.width}" id="{{col.fieldName}}"
                    defaultLabel="{{col.defaultLabel}}" [filter]="true" styleClass="form-control" [maxSelectedLabels]="2"> -->
                <!--(onChange)="onItemSelect($event)"-->


                <!--    <p-header>(input)="filterLookupDataBySearchValue($event.target.value,col)"
                                      <input type="text" pInputText  id="filterSearch"
                                     name="filterSearch" placeholder="Filter Data"  />
                               </p-header>-->

                <!-- </p-multiSelect> -->

                <p-multiSelect *ngSwitchCase="'multiselect'" [options]="col.filterLookupList" [(ngModel)]="genericFilterInput[col.lookupSelect]" name="{{col.fieldName}}" optionLabel="{{col.optionLabel}}" [style]="{width: col.width}" id="{{col.fieldName}}" defaultLabel="{{col.defaultLabel}}"
                    [filter]="true" styleClass="form-control" [maxSelectedLabels]="2">
                    <!--(onChange)="onItemSelect($event)"-->


                    <!--    <p-header>(input)="filterLookupDataBySearchValue($event.target.value,col)"
                      <input type="text" pInputText  id="filterSearch"
                     name="filterSearch" placeholder="Filter Data"  />
               </p-header>-->

                </p-multiSelect>


                <p-multiSelect *ngSwitchCase="'multiselectSearch'" [options]="col.lookupValues" [(ngModel)]="genericFilterInput[col.lookupSelect]" (onSelectAll)="onSelectAll($event)" name="{{col.fieldName}}" optionLabel="{{col.optionLabel}}" [style]="{width: col.width}"
                    id="{{col.fieldName}}" defaultLabel="{{col.defaultLabel}}" [filter]="false" styleClass="form-control">
                    <!--(onChange)="onItemSelect($event)"-->

                    <p-header>
                        <input type="text" pInputText id="filterSearch" name="filterSearch" placeholder="Filter Data" (input)="filterLookupDataBySearchValue($event.target.value,col)" />
                    </p-header>
                </p-multiSelect>

                <!-- <p-autoComplete *ngSwitchCase="'autocomplete'" [(ngModel)]="genericFilterInput[col.lookupSelect]"
                             [suggestions]="col.lookupValues" (completeMethod)="getCompanyMasterList($event, individualBranchMaster)"
                              field="name" placeholder="{{col.defaultLabel}}" [minLength]="5" (onSelect)="setBranchList($event)"  >
                             </p-autoComplete> -->


                <span *ngIf="col.filterLookupList!=null && col.filterLookupList.length > 0">
                    <span>
                        <p-dropdown  *ngSwitchCase="'dropdown'" [options]="col.filterLookupList"  [(ngModel)]="genericFilterInput[col.singleSelect]" id="{{col.fieldName}}"
                        optionLabel="{{col.lookupLabelValue}}" placeholder="{{col.defaultLabel}}" [style]="{width: col.width}" [showClear]="true"></p-dropdown>
                    </span>
                </span>
                <!--(onChange)="onItemSelect($event)" -->
                <!-- <span *ngIf="col.lookupValues!=null && col.lookupValues.length > 0 ">
                                  <p-dropdown  *ngSwitchCase="'dropdown'" [options]="col.lookupValues" [(ngModel)]="genericFilterInput[col.singleSelect]" id="{{col.fieldName}}"
                                  optionLabel="{{col.lookupLabelValue}}" placeholder="{{col.defaultLabel}}" [style]="{width: col.width}" (onChange)="onItemSelect($event)" [showClear]="true"></p-dropdown>

                              </span> -->

                <p-calendar *ngSwitchCase="'date'" [(ngModel)]="genericFilterInput[col.fieldName]" dateFormat="dd/mm/yy" name="{{col.fieldName}}" id="{{col.fieldName}}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2040" inputStyleClass="form-control"
                    [ngStyle]="{'width':col.width}" placeholder="Enter {{col.defaultLabel}}" (onSelect)="filterRecord()" (onInput)="filterRecord()"></p-calendar>

                <!-- (onSelect)="filterRecord()" (onInput)="filterRecord()"  (onBlur)="filterRecord()" -->

                <p-calendar *ngSwitchCase="'dateRange'" [(ngModel)]="genericFilterInput[col.fieldName]" name="{{col.fieldName}}" id="{{col.fieldName}}" selectionMode="range" inputStyleClass="form-control" [ngStyle]="{'width':col.width}" [monthNavigator]="true" [yearNavigator]="true"
                    dateFormat="dd/mm/yy" yearRange="2015:2040" placeholder="Enter {{col.defaultLabel}}"></p-calendar>
            </div>
        </ng-template>
    </div>


</div>
<!-- <table class="customTable">
                  <tr>
                      <ng-template ngFor let-col [ngForOf]="genericColsInput" let-i="index">

                            <td [ngStyle]="{'width':col.width}">
                                <div [ngSwitch]="col.fieldType">


                                <input *ngSwitchCase="'text'" type="text" pInputText [(ngModel)]="genericFilterInput[col.fieldName]"  id="{{col.fieldName}}"
                                name="{{col.fieldName}}" placeholder="Enter {{col.defaultLabel}}" (input)="filterRecord()" [ngStyle]="{'width':col.width}" />

                                <p-multiSelect  *ngSwitchCase="'multiselect'" [options]="col.lookupValues" [(ngModel)]="genericFilterInput[col.lookupSelect]"
                                 (onSelectAll)="onSelectAll($event)" name="{{col.fieldName}}" optionLabel="{{col.optionLabel}}" [style]="{width: col.width}"
                                  id="{{col.fieldName}}" (onChange)="onItemSelect($event)" defaultLabel="{{col.defaultLabel}}" [filter]="false">
                                  <p-header>
                                        <input type="text" pInputText  id="filterSearch"
                                       name="filterSearch" placeholder="Filter Data" (input)="filterLookupDataBySearchValue($event.target.value,col)"  />
                                 </p-header>

                                </p-multiSelect>

                                <span *ngIf="col.lookupValues==null || col.lookupValues.length==0">
                                  <p-dropdown  *ngSwitchCase="'dropdown'" [options]="col.filterLookupList" [(ngModel)]="genericFilterInput[col.singleSelect]" id="{{col.fieldName}}"
                                  optionLabel="{{col.lookupLabelValue}}" placeholder="{{col.defaultLabel}}" [style]="{width: col.width}" (onChange)="onItemSelect($event)" [showClear]="true"></p-dropdown>
                                </span>

                                <span *ngIf="col.lookupValues!=null && col.lookupValues.length > 0 ">
                                    <p-dropdown  *ngSwitchCase="'dropdown'" [options]="col.lookupValues" [(ngModel)]="genericFilterInput[col.singleSelect]" id="{{col.fieldName}}"
                                    optionLabel="{{col.lookupLabelValue}}" placeholder="{{col.defaultLabel}}" [style]="{width: col.width}" (onChange)="onItemSelect($event)" [showClear]="true"></p-dropdown>

                                </span>

                                  <p-calendar *ngSwitchCase="'date'" [(ngModel)]="genericFilterInput[col.fieldName]" dateFormat="dd/mm/yy" name="{{col.fieldName}}" id="{{col.fieldName}}"  [monthNavigator]="true" [yearNavigator]="true"
                                  yearRange="2015:2040" inputStyleClass="form-control"  [ngStyle]="{'width':col.width}"  (onSelect)="filterRecord()" placeholder="Enter {{col.defaultLabel}}"></p-calendar>

                              </div>
                            </td>

                      </ng-template>
                    </tr>



              </table> -->

<!-- <table class="customTable">
                  <tr>
                      <ng-template ngFor let-col [ngForOf]="quickCols" let-i="index">

                            <td [ngStyle]="{'width':col.width}">
                                <div [ngSwitch]="col.fieldType">


                                <input *ngSwitchCase="'text'" type="text" pInputText [(ngModel)]="genericFilter[col.fieldName]"  id="{{col.fieldName}}"
                                name="{{col.fieldName}}" placeholder="Enter {{col.defaultLabel}}" (input)="filterRecord()" [ngStyle]="{'width':col.width}" />

                                <p-multiSelect  *ngSwitchCase="'multiselect'" [options]="col.lookupValues" [(ngModel)]="genericFilter[col.lookupSelect]"
                                 (onSelectAll)="onSelectAll($event)" name="{{col.fieldName}}" optionLabel="{{col.optionLabel}}" [style]="{width: col.width}"
                                  id="{{col.fieldName}}" (onChange)="onItemSelect($event)" defaultLabel="{{col.defaultLabel}}"></p-multiSelect>

                                  <p-dropdown  *ngSwitchCase="'dropdown'" [options]="col.lookupValues" [(ngModel)]="genericFilter[col.lookupSelect]"
                                  optionLabel="{{col.optionLabel}}" placeholder="{{col.defaultLabel}}" [style]="{width: col.width}"></p-dropdown>

                              </div>
                            </td>

                      </ng-template>
                    </tr>



              </table> -->
<!-- </div>
    <div class="col-xs-2 advanceFilterLabel">
              <h4>Quick filter</h4>
    </div>
</div> -->