<div class="ui-g">
        <ng-template ngFor let-fieldConfiguration [ngForOf]="fieldConfigurationList" let-index="index">
                <div [className]="fieldConfiguration.columnClass" [ngSwitch]="fieldConfiguration.fieldType">      
                           <div *ngSwitchCase="'text'" >
                            <label>{{fieldConfiguration.label}}</label>   
                            <br>
                            <input type="text" pInputText [(ngModel)]="this[fieldConfiguration.entityClient][fieldConfiguration.fieldName]"  id="{{fieldConfiguration.fieldName}}"
                                name="{{fieldConfiguration.fieldName}}" placeholder="Enter {{fieldConfiguration.label}}" [ngStyle]="{'width':'100%'}" />
                            </div>  
                            <div *ngSwitchCase="'number'" >
                                <label>{{fieldConfiguration.label}}</label>   
                                <br>
                                <input type="number" pInputText [(ngModel)]="this[fieldConfiguration.entityClient][fieldConfiguration.fieldName]"  id="{{fieldConfiguration.fieldName}}"
                                    name="{{fieldConfiguration.fieldName}}" placeholder="Enter {{fieldConfiguration.label}}" [ngStyle]="{'width':'100%'}" />
                            </div>  
                            <div *ngSwitchCase="'password'">
                                <label>{{fieldConfiguration.label}}</label>
                                <br>
                                <input type="password" pInputText [(ngModel)]="this[fieldConfiguration.entityClient][fieldConfiguration.fieldName]"  id="{{fieldConfiguration.fieldName}}"
                                name="{{fieldConfiguration.fieldName}}" placeholder="Enter {{fieldConfiguration.label}}" [ngStyle]="{'width':'100%'}" />
                            </div>

                            <div *ngSwitchCase="'dropdown'">
                                <label>{{fieldConfiguration.label}}</label>  
                                <br> 
                                <select  class="form-control" name="{{fieldConfiguration.fieldName}}" id="{{fieldConfiguration.fieldName}}" [(ngModel)]="this[fieldConfiguration.entityClient][fieldConfiguration.fieldName]" [ngStyle]="{'width':'100%'}" >
                                    <option value="">select</option>
                                    <ng-template ngFor let-lookupData [ngForOf]="fieldConfiguration.lookupDataList" let-index="rowIndex">
                                    <option value="{{lookupData.lookupId}}">{{lookupData.lookupValue}}</option>
                                    </ng-template>
                                </select>
                            </div>
                            <div  *ngSwitchCase="'date'">
                                <label>{{fieldConfiguration.label}}</label>
                                <br>
                                <div>
                                <p-calendar  [(ngModel)]="this[fieldConfiguration.entityClient][fieldConfiguration.fieldName]" dateFormat="dd/mm/yy" name="{{fieldConfiguration.fieldName}}" id="{{fieldConfiguration.fieldName}}"  
                                [monthNavigator]="true" [yearNavigator]="true" 
                                yearRange="1940:2010" inputStyleClass="form-control"    placeholder="Enter {{fieldConfiguration.label}}" ></p-calendar>
                                </div>
                            </div>

                            <div  *ngSwitchCase="'radio'">
                                    <label>{{fieldConfiguration.label}}</label>
                                    <br>
                                    <div>
                                        <ng-template ngFor let-lookupData [ngForOf]="fieldConfiguration.lookupDataList" let-index="index">
                                            <p-radioButton name="{{fieldConfiguration.fieldName}}" value="{{lookupData.lookupId}}" 
                                            label="{{lookupData.lookupValue}}" [(ngModel)]="this[fieldConfiguration.entityClient][fieldConfiguration.fieldName]" 
                                            inputId="{{fieldConfiguration.fieldName+index}}"></p-radioButton> &nbsp;
                                        </ng-template>
                                    </div>
                                </div>
                </div>
           </ng-template>
</div>