/**

Template Name: Mega Able Admin Template
Author: #
Email: #
File: style.scss
**/


/* =============
  == Table of Contents==

	- Custom Css
	- Generic classes
		-	Margin, Padding, Font class, text align, position, floating, overflow, background class, text color, display class, boarder class
	- Theme Elements
		-	Icons, Accordion, Button, Redial, floating actions, FAB, tabs, typography, buttons, box shadow, slider page, error page, Breadcrumb, pagination, Basic card, Login card
	- General Elements
		-	Modal, Nestable, Lable & Badges, List, Portlates, Preloader, Calender, To-Do, Materialize general elements, Lables
	- Advance Form Elements
	- Pages
		-	Loader page, Invoice, Tasklist, Task detail, Range-slider, Counter, Maintenance, Color, FAQ, Progress, Panels & wells, Contact card, Auth pages, Flag
		-	Gallery, Products pages, Widget, Email, Social timeline, Datatable, Chat, Blog, Wizard, CRM dashboard, Task board, Issue list, Chartlist, X-editable
		-	Home chat, Dashboard 1-2-3-4
	- Responsive media class

============= */

@import '~bootstrap/scss/bootstrap';
@import "themify-icons/themify-icons";
// General theme contents
@import "partials/variables";
@import "partials/mixins";
@import "partials/general";
@import "partials/generic";
// Menu
@import "partials/menu/pcmenu";
// Important Theme elements
@import "partials/theme-elements/button";
@import "partials/theme-elements/form-elements";
// Theme elements
@import "partials/theme-elements/label-badges";
@import "partials/theme-elements/icon-layout";
@import "partials/theme-elements/ready-to-use";
@import "partials/theme-elements/box-shadow";
// Tables
@import "partials/tables/tables";
// Widget
@import "partials/widget-dashboard/widget";
@import "partials/widget-dashboard/dashboard";
// Other
@import "partials/other/alert";
@import "partials/other/authentication";
@import "partials/other/breadcrumb";
@import "partials/other/charts";
@import "partials/other/chat";
@import "partials/other/color";
@import "partials/other/draggable";
@import "partials/other/e-payment";
@import "partials/other/editors";
@import "partials/other/fb-wall";
@import "partials/other/full-calender";
@import "partials/other/job-find";
@import "partials/other/mail-pages";
@import "partials/other/maps";
@import "partials/other/navbars";
@import "partials/other/note";
@import "partials/other/prism";
@import "partials/other/progress-bar";
@import "partials/other/pre-loader";
@import "partials/other/range-slider";
@import "partials/other/rating";
//To-do
@import "partials/todo/todo";
// Responsive css
@import "partials/responsive/responsive";
// dark layout css
@import "partials/dark";
@import "~ng2-toasty/style-default.css";
@import "~ng2-toasty/style-bootstrap.css";
@import "~ng2-toasty/style-material.css";
//angular custom
@import "partials/custom";
.pointerClass {
    cursor: pointer;
}

.waves-effect {
    float: right;
}

.card .card-header .card-header-right .card-option {
    width: auto!important;
    -webkit-transition: unset;
    transition: unset;
}

.all_icons span a i.fa-toggle-off {
    color: #ce0def;
}

.all_icons span a i.fa-toggle-on {
    color: #4fbc3c;
    font-size: 16px;
}

.ripple {
    overflow: inherit!important;
}

.card .card-header span {
    display: inline!important;
}

.page-body .ui-table .ui-table-tbody>tr>td {
    padding: 0.571em 0.857em!important;
    // border: none!important;
    text-align: center;
}

.page-body .ui-table .ui-table-thead>tr>th {
    padding: 0.571em 0.857em!important;
}

.card .card-block table tr {
    height: 53px;
}

.page-body .ui-table .ui-table-thead>tr>th {
    padding: 1.571em 0.857em!important;
    // border: none!important;
    text-align: center;
    background: #cecece
}

.page-body .ui-table .ui-table-caption {
    border: none!important;
}

.card .card-block table tr {
    border-top: 1px solid #c8c8c8!important;
}

.page-body .ui-paginator .ui-dropdown {
    height: auto!important;
}

// .page-body .ui-dropdown {
//     height: 37px;
// }
.page-body .ui-dropdown .ui-dropdown-label {
    height: 37px;
}

.page-body .img-50 {
    border: 1px solid #7d7d7d;
    width: 50px;
    height: 45px;
    // border-radius: 50%;
}

.page-body .img-rect-50 {
    border: 1px solid #7d7d7d;
    width: 60px;
    height: 45px;
}

.page-body .m-b-25 {
    margin-bottom: 0px!important;
}

.page-body .ui-inputtext {
    height: 39px;
}

.page-body .ui-table .ui-table-thead>tr>th {
    color: #212529!important;
    font-family: "Roboto", sans-serif;
}

.page-body .ui-table td {
    white-space: normal;
}

.page-body .ui-table .ui-table-tbody>tr:nth-child(even) {
    background-color: white!important;
}

.page-body .ui-table tbody tr:hover {
    background-color: rgba(68, 138, 255, 0.1)!important;
}

.page-body .ui-table-tbody>tr:nth-child(even):hover {
    background-color: rgba(68, 138, 255, 0.1)!important;
}

.page-body .ui-paginator {
    background-color: #fff;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.page-body .pi-sort:before,
.page-body .pi-sort-up:after,
.page-body .pi-sort-down:after {
    content: "\2191";
}

.page-body .pi-sort:after,
.page-body .pi-sort-down:before,
.page-body .pi-sort-up:before {
    content: "\2193";
    right: 0.5em;
}

.page-body .ui-dropdown,
.page-body .ui-inputtext {
    border-bottom: 1px solid #a6a6a6;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.modal-report.ripple {
    // background: #efde26;
    //  color: #fff;
}

// .page-body .pi-chevron-down:before{
//     content: "\f0d7";
// }
.report-name {
    font-size: 18px;
    float: left;
}

.app-modal-body .m-b-0 {
    font-size: 11px;
}

.app-modal-body .img-50 {
    border-radius: 50px;
    height: 50px;
    max-height: 50px
}

.page-body .ui-overlaypanel-content img {
    width: 100%;
}

.card-wrap {
    padding: 15px 0px 10px;
}

.form-material .form-primary.form-static-label .form-control {
    border-bottom-color: #898989!important;
}

.form-material .form-primary .form-control:focus~label {
    color: #fbb02f!important;
}

.form-material .form-primary.form-static-label .float-label {
    color: #898989!important;
}

.page-body .ui-overlaypanel {
    // left: 33%!important;
    width: 29%;
    top: 70px!important;
    left: 360px!important;
}

.logo-text {
    margin: auto;
    font-size: 19px;
    font-weight: 700;
    margin-left: 2px;
    color: #494B4A !important;
}

.search-btn {
    margin: auto;
}

.pcoded[vertical-nav-type="collapsed"] .pcoded-navbar {
    position: absolute!important;
}

.page-body .ui-table .ui-sortable-column .ui-sortable-column-icon {
    font-size: 14px;
    margin-left: 10px;
}

.page-body .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: grey;
}

.page-body .fa-folder-open {
    color: #fbb02f;
    font-size: 16PX;
}

.page-body .ui-inputtext:enabled:focus:not(.ui-state-error),
.page-body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border-color: #fbb02f;
}

.page-body .ui-dropdown-trigger-icon {
    margin-top: -0.7em!important;
}

.page-header .page-block .breadcrumb-title a {
    color: #000;
    font-weight: 500;
}

.page-header .fa-home {
    color: #000;
    font-weight: 500;
}

.page-header {
    color: #000;
}

// #more-details {
//     color: #898989;
// }
.page-header .page-block .breadcrumb-title .breadcrumb-item+.breadcrumb-item::before {
    color: #000;
    font-weight: 500;
}

// .page-header .fa-home{
//     color: #898989;
// }
.page-body .btn-primary {
    padding: 5px 13px;
    //margin-right: 0px!important;
}

.page-body .pi-chevron-down:before {
    font-size: 12px;
}

.report-wrap {
    display: flow-root;
}

.headerlogo {
    width: 43%;
    margin: 0 auto;
    display: flex;
}

.hideclass {
    display: none!important;
}

.card .card-header h5:after {
    background-color: #efde26!important;
}

.login-logo {
    width: 50%;
}

.btn-primary {
    background-color: #efde26;
    border-color: #efde26;
}

.btn-primary:hover,
.sweet-alert button.confirm:hover,
.wizard>.actions a:hover {
    background-color: #cec02c;
    border-color: #cec02c;
}

.form-material .form-primary.form-static-label .float-label {
    color: #efde26;
}

.form-material .form-primary.form-static-label .form-control {
    border-bottom-color: #efde26;
}

.form-control:focus {
    border: 1px solid #efde26;
}

.form-material .form-primary .form-control:focus~.form-bar:after,
.form-material .form-primary .form-control:focus~.form-bar:before {
    background: #efde26;
}

.btn-primary:active,
.sweet-alert button.confirm:active,
.wizard>.actions a:active {
    background-color: #cec02c !important;
    border-color: #cec02c;
    box-shadow: none;
    color: #fff;
}

.btn-primary:focus,
.sweet-alert button.confirm:focus,
.wizard>.actions a:focus {
    box-shadow: none;
    color: #fff;
    background-color: #cec02c;
}

.btn-default {
    background-color: #dddddd;
}

.btn {
    margin-right: 10px!important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #efde26!important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #fbb02f!important;
    color: #494B4A!important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #494B4A!important;
    background-color: #fbb02f!important;
}

body .ui-paginator {
    padding-top: 0.5%!important;
}

.card .card-header {
    padding: 20px 20px 10px 20px;
}

// prachi
// .card-wrap {
//     padding: 0px;
// }
.card .card-header {
    padding: 10px 20px 10px 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .headerlogo {
        width: 75px;
    }
    .search-btn {
        width: max-content;
    }
}

.custom-label {
    font-size: 11px;
    color: #898989;
    margin-bottom: 0px!important;
}

.ui-table .ui-paginator-bottom {
    border-top: 1px solid #c8c8c8!important;
}

.fileInput {
    width: 10px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size: 50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=0)"
}

.form-control:focus {
    border: none!important;
    border-bottom: 1px solid #fbb02f!important;
}

body .ui-multiselect {
    border-bottom: 1px solid #a6a6a6!important;
}

.customDataTable{
    overflow: auto;
    position: relative;
    display: flex;
}

.page-body .ui-table .ui-table-thead > tr > th{
    border: 1px solid #c8c8c8!important;
    font-size: 13px;
}
.page-body .ui-table .ui-table-tbody > tr > td{
    border: 1px solid #c8c8c8!important;
    font-size: 13px;
}
.page-body .ui-table .ui-table-tbody > tr:nth-child(odd){
    background-color:rgba(68, 138, 255, 0.1) !important;
}

.ui-multiselect {
    border: none!important;
    border-radius: 0px!important;
}

body .ui-inputtext.ng-dirty.ng-invalid,
body p-dropdown.ng-dirty.ng-invalid>.ui-dropdown,
body p-autocomplete.ng-dirty.ng-invalid>.ui-autocomplete>.ui-inputtext,
body p-calendar.ng-dirty.ng-invalid>.ui-calendar>.ui-inputtext,
body p-chips.ng-dirty.ng-invalid>.ui-inputtext,
body p-inputmask.ng-dirty.ng-invalid>.ui-inputtext,
body p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
body p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
body p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
body p-listbox.ng-dirty.ng-invalid .ui-inputtext,
body p-multiselect.ng-dirty.ng-invalid>.ui-multiselect,
body p-spinner.ng-dirty.ng-invalid>.ui-inputtext,
body p-selectbutton.ng-dirty.ng-invalid .ui-button,
body p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border: none!important;
    border-bottom: 1px solid #fbb02f;
}

body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
    color: #494B4A!important;
    background-color: #fbb02f!important;
}

body .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #fbb02f!important;
}

.data-view {
    padding: 1% 1% 1% 1%;
}

.custom-height .modal-body{
    height: 450px;
    overflow-y: scroll;
}

.ui-dropdown, .ui-calendar, .ui-calendar .ui-inputtext{
    width: 100%;
}

.form-control:focus {
    box-shadow: none!important;
}

.page-body .ui-dropdown,
.page-body textarea {
    border-bottom: 1px solid #a6a6a6;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.page-body .ui-dropdown,
.page-body textarea {
    border-bottom: 1px solid #a6a6a6;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
}

.page-body textarea:enabled:focus:not(.ui-state-error),
.page-body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border-color: #fbb02f;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    background: #fbb02f!important;
    color: #494B4A!important;
}

body .ui-fileupload .ui-fileupload-buttonbar {
    background-color: #ffffff!important;
    padding: 0.571em 0em!important;
    border: none!important;
    /* padding: 0.571em 1em; */
    /* border: 1px solid #c8c8c8; */
    /* color: #333333; */
    /* border-bottom: 0 none; */
}

body .ui-button {
    background-color: #fbb02f!important;
    border: 1px solid #fbb02f!important;
}

.ui-fileupload-content .ui-progressbar {
    width: 0%!important;
}

.page-body .ui-fileupload .ui-fileupload-content {
    padding: 0em 0em!important;
    border: none!important;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none!important;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #fbb02f!important;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a {
    color: #494B4A !important;
}

.pcoded .pcoded-navbar[navbar-theme="themelight1"] .main-menu .main-menu-header .user-details span {
    color: #494B4A !important;
    font-weight: bold;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a .pcoded-micon {
    color: #494B4A !important;
}

.btn-primary,
.sweet-alert button.confirm,
.wizard>.actions a {
    color: #494B4A !important;
}

.card .card-header .card-header-right {
    padding: 0 0!important;
}


// added by prahchi
.calci-header .navbar-wrapper .navbar-container .header-notification .profile-notification a {
    margin-bottom: 10px;
}

.ui-inputtext {
    border-bottom: 1px solid #e0dfdf;
    // width: 80%;
    // text-align: center;
}

.ui-inputtext:hover {
    border-bottom: 1px solid #fbb02f!important;
}

.postpanel-table .list-unstyled {
    display: flex;
    // overflow-x: scroll;
    justify-content: center;
}

.progress-wrap .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background: #fff;
    color: #000;
}

.progress-wrap .ui-table .ui-table-tbody>tr>td {
    color: black;
}

.address-sec {
    margin-top: 20px;
}

// .facing-wrap .ui-dropdown-panel {
//     top: -73px!important;
// }
.tabwrap .ui-table-tbody {
    border: 1px solid #d6d3d3;
    width: 80%;
    margin-top: 20px;
    display: inherit;
}

.tabsec {
    border: 1px solid #d6d3d3;
    padding: 20px;
    margin-top: 20px;
}

.panel-wrap .ui-table-scrollable-view {
    border: 1px solid #d6d3d3;
}

.tabwrap .page-body .ui-table tbody tr:hover {
    background-color: #d7dbde!important;
}

.slider-wrap {
    margin-top: -38px;
}

.user-wrap .ui-inputtext {
    width: auto!important;
}

.setting-tab .ui-inputtext {
    width: 80%;
    margin: auto;
    text-align: center;
}

.modal-lg{
    width: 70%!important;
}


// theam color change
body[themebg-pattern="theme1"]{
    background-color: #fbb02f!important;
}
.waves-light{
    background-color: #fbb02f!important;
    border-color: #fbb02f!important;
    color: #fff!important;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item > li.active > a{
    background: #fbb02f;
    color: #fff!important ;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item > li.active > a > .pcoded-micon{
    color: #fff!important ;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li:hover > a{
    color:#fbb02f!important;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li:hover > a .pcoded-micon{
    color:#fbb02f!important;
}
.pcoded .pcoded-header[header-theme="theme1"] a{
    color:#fbb02f!important;
}
.card .card-header h5:after{
    background-color: #fbb02f!important;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
    background-color: #fbb02f!important;
    color: #fff!important;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight{
    background-color: #fbb02f!important;
    color: #fff!important;
}
.form-control:focus{
    border-bottom: 1px solid #fbb02f !important;
}
.form-material .form-primary .form-control:focus ~ label{
    color:#fbb02f!important;
}
.form-material .form-primary .form-control:focus ~ .form-bar:before{
    background: #fbb02f!important;
}
.form-material .form-primary .form-control:focus ~ .form-bar:after{
    background: #fbb02f!important;
}
.app-modal-footer .btn-primary {
    background-color: #fbb02f!important;
    color: #fff!important;
    border-color: #fbb02f!important;
}
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.active:hover > a{
    color: #fff!important;
}
.btn-primary:hover, .sweet-alert button.confirm:hover, .wizard > .actions a:hover, .sweet-alert button.confirm:hover, .wizard > .actions a:hover {
    background-color: #fbb02f!important;
    color: #fff!important;
    border-color: #fbb02f!important;
}
.btn-primary, .sweet-alert button.confirm, .wizard > .actions a {
    background-color: #fbb02f!important;
    color: #fff!important;
    border-color: #fbb02f!important;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li.active:hover > a .pcoded-micon{
    color: #fff!important;
}
.file-upload-wrap .ui-fileupload-buttonbar{
    display: inline-flex;
}
.table-section{
    display: flex;
}
.table-section .ui-table .ui-table-thead > tr > th{
    border: 1px solid #c8c8c8!important;
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 70%!important;
    }
}

.page-body .ui-table td {
    white-space: normal!important;
}
.dashboard-wrap .card .card-block{
    height: 105px;
    max-height: 150px;
}
.bg-c-red{
    background: #b82f2f;
}
.bg-c-yellow{
    background: #caca1e;
}
.bg-c-skyblue{
    background: #369ec8;
}
.bg-c-magenta{
    background: #c22ac2;
}
.card-icon{
    background: #fbb02f;
    color: #fff;
    padding-right: 8px;
    margin-right: 5px;
    border-radius: 0px;
}
.card .card-header .card-header-right i{
    color: #fff;
}
// .card-block-hid {
//     overflow: initial!important;
// }
// .postpanel-wrap .ui-scrollpanel-wrapper {
//     z-index: 1000000!important;
//     overflow: hidden!important;
// }
// .postpanel-wrap .ui-scrollpanel {
//     height: 550px!important;
// }
// .ui-dropdown .ui-dropdown-panel {
//     top: 0px!important;
// }
// .parking-wrap .ui-dropdown-panel {
//     margin-top: 40px;
// }

.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active{
    background-color: #fbb02f !important;
}
.ui-paginator .ui-dropdown{
    height:auto!important;
}
.header-navbar .navbar-wrapper{
    display: flex;
}
.setting-tab .ui-table .ui-table-thead > tr > th{
    background: #fff;
}
.ui-table .ui-table-tbody > tr > td{
    white-space: pre-line;
}
.setting-tab .nav-item .nav-link.active{
     background-color: #fbb02f;
     color: #fff;
}
.setting-tab .nav-item .nav-link{
    border: 1px solid grey;
    margin-right: 2px;
    color: black;
}
.border-test{
    border: 1px solid #c0b1b1;
    padding: 10px;
}
.card .card-header .card-header-right .card-option{
    height: auto!important;
}
.table-icons.all_icons{
    display: flex;
    justify-content: center;
}
.postpanel-table .ui-paginator{
    position: relative!important;
}
.postpanel-table .all_icons{
    border: none!important;
}
.postpanel-wrap .form-group .ui-dropdown{
    border: 1px solid #a6a6a6!important;
    border-left: 1px solid #a6a6a6!important;
    border-right: 1px solid #a6a6a6!important;
    border-top: 1px solid #a6a6a6!important;
    border-bottom: 1px solid #a6a6a6!important;
}
.text-b-purple{
    color: #b82f2f;
    font-size: 22px;
    font-weight: 600;
}
.text-c-yellow{
    color: #caca1e;
    font-size: 22px;
    font-weight: 600;
}
.text-c-skyblue{
    color :#369ec8;
    font-size: 22px;
    font-weight: 600;
}
.text-c-pink{
    color: #c22ac2;
    font-size: 22px;
    font-weight: 600;
}
.text-c-blueviolet{
    color: blueviolet;
    font-size: 22px;
    font-weight: 600;
}
.text-c-yellowgreen{
    color: yellowgreen;
    font-size: 22px;
    font-weight: 600;
}
.bg-c-blueviolet{
    background: blueviolet;
}
.bg-c-yellowgreen{
    background: yellowgreen;
}
.dialog-export .ui-dialog-content{
    overflow-x: hidden;
    height: auto;
}
.dialog-export .ui-paginator{
    position: relative!important;
}
.ui-dialog .ui-dialog-titlebar{
    background-color: #fbb02f !important;
    color: #fff!important;
}
.card-footer h4{
    margin-bottom: 0px!important;
}
.ui-dialog .ui-dialog-titlebar-icon span{
    color: #fff!important;
}
.modal-header{
    background-color: #fbb02f !important;
    color: #fff!important;
}
.basic .basic-close{
    color: #fff!important;
}